<div class="sidenav-container">
	<!-- Desktop-Sidenav -->
	<div class="sidenav-scrollable-content"  *ngIf="!isMobileView">
	  <!-- Inhalte der Sidenav für Desktop -->
	  <div class="devspace-container-class">
		<img src="assets/logos/devspace-logo.svg" alt="Logo" />
		<h2>Devspace</h2>
		<div class="img-wrapper">
		  <img src="assets/icons/edit-square-black.svg" alt="Edit Profile" />
		</div>
	  </div>
	  
	  <!-- Weitere Inhalte für Desktop -->
	  <app-channel-list
		[channels]="channelsWithId"
		[isChannelsExpanded]="isChannelsExpanded"
		(toggleChannels)="toggleChannels()"
		(openCreateChannel)="openCreateChannelPopup()">
	  </app-channel-list>

	  <app-direct-messages
		[users]="users"
		[isDirectMessagesExpanded]="isDirectMessagesExpanded"
		(toggleDirectMessages)="toggleDirectMessages()">
	  </app-direct-messages>
	</div>
  
	<!-- Mobile Header -->
	<app-header *ngIf="isMobileView" [isMobile]="true"></app-header>
  
	<!-- Mobile searchbar -->
	<div *ngIf="isMobileView" class="search-bar-mobile">
	  <input
		type="text"
		placeholder="Devspace durchsuchen"
		(input)="onSearch($event)"
		[(ngModel)]="searchQuery" />
	  <img src="assets/icons/search-grey.svg" alt="Search Icon" class="search-icon">
	</div>
  
	<!-- Innere scrollbare Ebene -->
	<div class="sidenav-scrollable-content" *ngIf="isMobileView">
	  <!-- Header -->
	  <div class="devspace-container-class">
		<img src="assets/logos/devspace-logo.svg" alt="Logo" />
		<h2>Devspace</h2>
		<div class="img-wrapper">
		  <img src="assets/icons/edit-square-black.svg" alt="Edit Profile" />
		</div>
	  </div>
  
	  <!-- Channel List -->
	  <app-channel-list
		[channels]="channelsWithId"
		[isChannelsExpanded]="isChannelsExpanded"
		(toggleChannels)="toggleChannels()"
		(openCreateChannel)="openCreateChannelPopup()">
	  </app-channel-list>
  
	  <!-- Direct Messages -->
	  <app-direct-messages
		[users]="users"
		[isDirectMessagesExpanded]="isDirectMessagesExpanded"
		(toggleDirectMessages)="toggleDirectMessages()">
	  </app-direct-messages>
	</div>
  
	<!-- Popups Wrapper (nur Mobil) -->
	<div class="popup-wrapper">
	  <!-- Create Channel Popup -->
	  <div class="popup-overlay" *ngIf="isCreateChannelVisible">

		<!-- Mobile Version -->
		<app-create-channel
		  *ngIf="isMobileView"
		  [isMobileView]="true"
		  (createChannel)="handleCreateChannel($event)"
		  (closePopup)="closeCreateChannelPopup()">
		</app-create-channel>

		  <!-- Desktop Version -->
		  <app-create-channel
		  *ngIf="!isMobileView"
		  [isMobileView]="false"
		  (createChannel)="handleCreateChannel($event)"
		  (closePopup)="closeCreateChannelPopup()">
		</app-create-channel>
	  </div>
  
	  <!-- Add Members Popup -->
	  <div
		class="popup-overlay add-members-overlay"
		*ngIf="isAddMembersVisible"
		[class.background-visible]="isCreateChannelVisible">
		<app-add-members
		  [newChannelId]="newChannelId || ''"
		  [newChannelName]="newChannelName"
		  [users]="users"
		  [isMobileView]="isMobileView"
		  (closePopup)="closeAddMembersPopup()"
		  (addMembers)="handleAddMembers($event)">
		</app-add-members>
	  </div>
	</div>
  </div>
  