@import '../../../../styles.scss';

h2 {
  font-size: 18px !important;
  font-weight: 700;
  margin: 0;
}

.sidebar-container-class {    
    height: calc(100vh - 200px); 
    width: 100%; 
    flex-grow: 1;
    border-radius: 30px;
    padding: 32px 30px 32px 30px;
    gap: 25px; 
    background-color: white;
}

.devspace-container-class { 
  display: flex;
  flex-direction: row;
  align-items: center; 
  width: 100%;
  justify-content: space-between;  

  h2 {
    font-size: 24px !important;
    font-weight: 700;
    color: black;   
    margin-bottom: 0; 
    margin-left: -30px;
    align-self: center;
    margin-right: 10px;
  } 
}

.img-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  cursor: pointer;

  &:hover {
    content: url('/assets/icons/edit-square-purple.svg');  
    cursor: pointer;
    border-radius: 50%;
    background-color: $bg-color;
    padding: 6px;  
    box-sizing: border-box;
    }
}

.channels-container-class {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    margin-top: 30px;
}

.channels-header-class {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  transition: color 0.3s ease-in-out;
  cursor: pointer;

  /* Styles für die Haupt-Elemente */
  .main-elements {
    display: flex;
    align-items: flex-start;
    align-items: center;
    gap: 15px;

    /* Hover-Effekt für die ersten drei Elemente */
    &:hover {
      img[src="assets/icons/arrow-drop-down-black.svg"] {
        content: url('/assets/icons/arrow-drop-down-purple.svg');
      }
      img[src="assets/icons/workspace.svg"] {
        content: url('/assets/icons/workspace-purple.svg');
      }
      img[src="assets/icons/account-circle.svg"] {
        content: url('/assets/icons/account-circle-purple.svg');
      }
      img[src="assets/icons/add-circle.svg"] {
        content: url('/assets/icons/add-circle-hover.svg');
      }
      h2 {
        font-size: 20px;
        color: #535af1; 
      }
      button {
        background-color: $purple-bg-reaction;
      }
    }
  }

  /* Separater Hover-Effekt für das add-icon-container */
  .add-icon-container img {
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      content: url('/assets/icons/add-hover.svg');
    }
  }
}
 
li {
    list-style: none; 
  
    .channel-class {
      cursor: pointer;
      gap: 20px;
      display: inline-flex;
      align-items: center;
      border-radius: 30px;
      padding: 10px;
      transition: background-color 0.3s ease-in-out;
      margin-bottom: 10px;
  
      &:hover {
        background-color: $bg-color;
        border-radius: 30px;
        padding: 10px;  
  
        .expand-icon {
          color: $purple-bg-reaction;  
        }
      }
    }
  }
  
  .expand-icon {
    transition: color 0.3s ease-in-out;
  }
  
  
.add-channel-class {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15px;
  margin-bottom: 20px;

  &:hover,
  &:active,
  &.active { 
    .add-channel-btn img {
      content: url('/assets/icons/add-circle-purple.svg');
    }
 
    span {
      color: $purple-bg-reaction;
    }
  }

  .add-channel-btn    {   
    background-color: white;
    border: unset;
    display: flex;
    align-items: center;

    .span {
      font-size: 16px;
      font-weight: 400;
      color: black;
    }
  }
}

.tree-list {
  margin: 0;
  gap: 10px;
}

.submenu-profile-container-class {
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    border-radius: 50%;
    gap: 10px;
    margin-top: 10px; 
    padding: 10px;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: $bg-color;
      border-radius: 30px; 
}
}

.submenu-profile-picture-class {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.submenu-profile-name-class {
    font-size: 18px;
    font-weight: 400;
    line-height: 24.55px;
    color: black;
}
 
  
/* Button styling for the arrow */
/* Button styling for the arrow */
.toggle-arrow-btn {
  background-color: unset !important;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;

  /* Text color change on hover */
  &:hover .toggle-arrow-text {
    color: #535af1;
    font-size: 20px;
    background-color: unset !important;
  }
}

/* Rotate the arrow when .rotate class is applied */
.rotate {
  transform: rotate(-90deg); /* Adjust rotation angle as needed */
  transition: transform 0.3s ease;
}

