<div class="sidenav-container">
	<!-- Devspace Header -->
	<div class="devspace-container-class">
	  <img src="assets/logos/devspace-logo.svg">
	  <h2>Devspace</h2>
	  <div class="img-wrapper">
		<img src="assets/icons/edit-square-black.svg">
	  </div>
	</div>
  
	<!-- Channel List -->
	<app-channel-list
	  [channels]="channelsWithId"
	  [isChannelsExpanded]="isChannelsExpanded"
	  (toggleChannels)="toggleChannels()"
	  (openCreateChannel)="createChannelPopup()">
	</app-channel-list>
  
	<!-- Direct Messages -->
	<app-direct-messages
	  [users]="users"
	  [isDirectMessagesExpanded]="isDirectMessagesExpanded"
	  (toggleDirectMessages)="toggleDirectMessages()">
	</app-direct-messages>
  </div>
  
