@import "../../../../styles.scss";

.mobile-view {
  display: none;
}

.desktop-view {
  display: flex;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 1px solid $bg-color;
  background-color: $purple2;
}

.sidenav-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  @media (max-width: 950px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-radius: 0 !important; /* Remove border radius on mobile */
  }

  .sidenav-scrollable-content {
    flex: 1;
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden;
    margin-right: -12px; /* Adjust for scrollbar */

    @media (max-width: 950px) {
      margin-top: 80px;
      padding: 30px 50px;
    }

    @media (max-width: 450px) {
      padding: 30px 10px;
    }
  }
}

.h2 {
  font-size: 18px !important;
  font-weight: 700;
  margin: 0;
}

.devspace-container-class {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  h2 {
    font-size: 24px !important;
    font-weight: 700;
    color: black;
    margin-bottom: 0;
    margin-left: -30px;
    margin-right: 10px;
  }
}

.img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 100px;
  transition: all 125ms ease-in-out;

  &:hover {
    background-color: $bg-color;
  }
  &:hover img {
    content: url("/assets/icons/edit-square-purple.svg");
    padding: 8px;
  }
}

.search-bar-desktop {
  display: none;
}

.open-chat-btn {
  position: absolute;
  bottom: 30px;
  right: 30px;
  cursor: pointer;

  @media (max-width: 768px) {
    bottom: 20px;
    right: 20px;
  }

  @media (max-width: 450px) {
    bottom: 10px;
    right: 10px;
  }

  svg {
    transition: transform 0.3s ease, filter 0.3s ease; /* Smooth hover animation */
  }

  &:hover svg {
    transform: scale(1.1); /* Slightly enlarge the button */
    filter: drop-shadow(0px 6px 5px rgba(0, 0, 0, 0.2));
  }

  &:hover rect {
    fill: #797ef3; /* Change button color on hover */
  }

  &:hover path {
    fill: white; /* Change icon color on hover */
  }
}

/* Mobile-specific styles */
@media (max-width: 950px) {
  .mobile-view {
    display: flex;
  }

  .desktop-view {
    display: none;
  }

  .search-bar-desktop {
    display: none;
  }

  .search-bar-mobile {
    position: relative;
    top: 100px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 16;

    input {
      cursor: pointer;
      width: 100%;
      padding: 17.5px 45px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 42px;
    }

    .search-icon {
      position: absolute;
      right: 40px;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none; /* Ensure click doesn't affect the icon */
    }
  }

  .devspace-container-class {
    display: none; /* Hide on mobile view */
  }

  .btn-mobile-new-message {
    cursor: pointer;
    width: 80px;
    background-color: white;
    border: none;
    position: absolute;
    bottom: 70px;
    right: 30px;
  }
}
