<div class="main-container">
    <header class="hide-mobile">
        <div class="logo">
            <img src="assets/logos/logo-DABubble.svg" alt="DABubble Logo" />
        </div>
        <div class="text-container">
            <span>Neu bei DABubble ?</span>
            <a [routerLink]="['/register']">Konto erstellen</a>
        </div>
    </header>
    <header class="show-mobile">
        <div class="logo">
            <img src="assets/logos/logo-DABubble.svg" alt="DABubble Logo" />
        </div>
    </header>
    <div class="login-card">
        <h2>Anmeldung</h2>
        <p>
            Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.
        </p>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="on">
            <div class="input-group">
                <img [src]="authStyle.mailSvg" alt="mail-icon">
                <label for="email"></label>
                <input formControlName="email" id="email" type="email" required autocomplete="username"
                    [placeholder]="authStyle.placeholderMail"
                    (focus)="authStyle.focusMailInput()" (blur)="authStyle.blurMailInput('login')" />
                @if (loginForm.controls['email'].invalid && loginForm.controls['email'].touched ) {
                <span class="error-message">Diese E-Mail-Adresse ist leider ungültig</span>
                }
            </div>
            <div class="input-group">
                <img [src]="authStyle.passwordSvg" alt="mail-icon">
                <label for="password"><i class="fas fa-lock"></i></label>
                <input formControlName="password" id="password" type="password" required autocomplete="current-password"
                    [placeholder]="authStyle.placeholderPw" 
                    (focus)="authStyle.focusPwInput()" (blur)="authStyle.blurPwInput('login')" />
                <img src="" alt="">
                @if (loginForm.controls['password'].invalid && loginForm.controls['password'].touched ||
                authService.passwordWrong ) {
                <span class="error-message">Falsches Passwort oder E-Mail. Bitte noch einmal versuchen.</span>
                }
            </div>
            <div class="forgot-password-container">
                <a [routerLink]="['/forgot-password']" class="forgot-password">Passwort vergessen?</a>
            </div>
            <div class="separator">
                <span>ODER</span>
            </div>
            <button type="button" class="google-login" (click)="googleLogin()">
                <img src="assets/logos/google-icon.svg" alt="Google Icon" />
                Anmelden mit Google
            </button>
            <div class="button-container">
                @if (!loginForm.valid) {
                <button class="login-btn btn invalid"
                    (click)="infoService.createInfo('Bitte felder ausfüllen', true)">Anmelden</button>
                } @else {
                <button type="submit" class="login-btn btn">Anmelden</button>
                }
                <button (click)="loginGuest()" type="button" class="guest-login btn">
                    Gäste-Login
                </button>
            </div>
        </form>
    </div>
    <div class="text-container show-mobile">
        <span>Neu bei DABubble ?</span>
        <button class="guest-login btn" [routerLink]="['/register']">Konto erstellen</button>
    </div>
    <footer>
        <a [routerLink]="['/imprint']" class="footer-anker">Impressum</a>
        <a [routerLink]="['/privacy-policy']" class="footer-anker">Datenschutz</a>
    </footer>
</div>