<header>
    <div class="logo">
        <img src="assets/logos/logo.svg" alt="DABubble Logo">
        <h1>DABubble</h1>
    </div>
    <div class="text-container">
        <span>Neu bei DABubble ?</span>
        <a [routerLink]="['register']">Konto erstellen</a>
    </div>
</header>
<div class="container">
    <div class="login-card">
        <h2>Anmeldung</h2>
        <p>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>
        <form>
            <div class="input-group">
                <label for="email"><i class="fas fa-envelope"></i></label>
                <input type="email" id="email" placeholder="beispielname@email.com">
            </div>
            <div class="input-group">
                <label for="password"><i class="fas fa-lock"></i></label>
                <input type="text" id="password" placeholder="Passwort">
            </div>
            <div class="forgot-password-container">
                <a [routerLink]="['forgot-password']" class="forgot-password">Passwort vergessen?</a>
            </div>
            <div class="separator">
                <span>ODER</span>
            </div>
            <button type="button" class="google-login">
                <img src="assets/logos/google-icon.svg" alt="Google Icon">
                Anmelden mit Google
            </button>
            <button type="submit" class="login-btn">Anmelden</button>
            <button type="button" class="guest-login" [routerLink]="['dashboard']"> Gäste-Login</button>
        </form>
        <div class="footer">
            <a href="#">Impressum</a>
            <a href="#">Datenschutz</a>
        </div>
        <div class="new-account">
            <span>Neu bei DABubble?</span> <a href="#">Konto erstellen</a>
        </div>
    </div>
</div>