@import "../../../../mixins.scss";

.material-symbols-outlined {
  font-variation-settings: "FILL" 10, "wght" 400, "GRAD" 0, "opsz" 14;
}

.hide-mobile {
  display: flex !important;
}

.show-mobile {
  display: none !important;
}

.main-container {
  width: 100%;
  min-height: 100vh;
  @include dFlex($g: 30px, $jc: center);
  font-size: 18px;
}

header {
  width: 100%;
  @include dFlex($fd: row, $jc: space-between, $ai: flex-start);
  position: absolute;
  padding: 0px 75px;
  top: 20px;
}

.logo {
  @include dFlex($fd: row, $g: 16px);
  span {
    font-size: 38px;
    color: #000000;
    font-weight: 500;
    letter-spacing: -2px;
  }
}

.text-container {
  @include dFlex($ai: flex-end, $g: 20px);

  a {
    padding: 10px 15px;
    color: $purple1;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 25px;
    transition: all 125ms ease-in-out;
    &:hover {
      border-color: grey;
    }
  }
}

.login-card {
  background-color: white;
  border-radius: 30px;
  padding: 50px 60px;
  max-width: 606px;
  width: 100%;
  box-shadow: 0px 2px 10px 0px #00000014;
  text-align: center;

  h2 {
    font-size: 46px;
    color: $purple1;
    font-weight: 700;
    margin-bottom: 30px;
  }

  p {
    font-size: 20px;
    font-weight: 400;
    color: black;
    margin-bottom: 30px;
  }

  form {
    @include dFlex();
  }

  .input-group {
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 60px;
    border-radius: 100px;
    background-color: $bg-color;
    padding: 0px 0px 0px 32px;
    @include dFlex($fd: row, $g: 16px);
    outline: none;
    border: 1px solid white;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all 125ms ease-in-out;
    &:focus-within {
      border-color: $purple1 !important;
    }

    &:hover {
      border-color: $text-gray;
    }

    label {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: #aaa;
    }

    input {
      width: 100%;
      font-size: 18px;
      height: 100%;
      padding: 0px 8px;
      font-weight: 500;
      border-radius: 100px;
      background-color: $bg-color;
      border: 1px solid transparent;
      outline: none;
      cursor: pointer;
      transition: all 125ms ease-in-out;
    }
  }

  // ERROR MESSAGES
  .error-message {
    position: absolute;
    top: 100%;
    left: 0;
    color: $error-rosa;
    font-size: 14px;
  }

  .invalid {
    background-color: $text-gray !important;
    &:hover {
      background-color: rgb(133, 133, 133) !important;
    }
  }

  .forgot-password-container {
    width: 100%;
    @include dFlex();
    margin-bottom: 1rem;
  }

  .forgot-password {
    display: block;
    color: $purple1;
    font-size: 18px;
    text-decoration: none;
    max-width: max-content;
    padding: 5px 15px;
    border-radius: 25px;
    transition: all 125ms ease-in-out;
    &:hover {
      background-color: $bg-color;
      transform: scale(1.0115);
    }
  }

  .separator {
    display: flex;
    align-items: center;
    margin: 30px 0px;
    padding: 0px 40px;
    width: 100%;

    span {
      margin: 0 10px;
      color: black;
      font-weight: 400;
    }

    &::before,
    &::after {
      content: "";
      flex: 1;
      height: 1px;
      background-color: $light-purple;
    }
  }

  .google-login {
    font-size: 18px;
    color: $purple1;
    width: 100%;
    max-width: 500px;
    height: 60px;
    border-radius: 100px;
    background-color: $bg-color;
    padding: 0px 32px;
    @include dFlex($fd: row, $g: 16px);
    outline: none;
    border: 1px solid transparent;
    margin-bottom: 40px;
    font-weight: 400;
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
      border-color: $purple1;
      transform: scale(1.0115);
    }

    img {
      width: 38px;
      height: 38px;
    }
  }

  .button-container {
    @include dFlex($fd: row, $g: 30px);
  }

  .login-btn {
    background-color: $purple1;
    border: none;
    color: #fff;
    &:hover {
      background-color: #444df2bd;
    }
  }
}

.btn {
  min-width: fit-content;
  padding: 12px 25px;
  height: 49px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 25px;
  cursor: pointer;
  transition: all 125ms ease-in-out;
}

.guest-login {
  background-color: #fff;
  border: 1px solid $purple2;
  color: $purple1;
  &:hover {
    background-color: $purple1;
    color: white;
  }
}

footer {
  @include dFlex($fd: row, $g: 16px);
  position: relative;
  .footer-anker {
    padding: 10px 15px;
    color: $purple1;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 25px;
    transition: all 125ms ease-in-out;
    &:hover {
      border-color: grey;
    }
  }
}

@media (max-width: 1325px) {
  .hide-mobile {
    display: none !important;
  }

  .show-mobile {
    display: flex !important;
  }

  .main-container {
    gap: 30px;
    position: relative;
    margin: 30px 0px;
    font-size: 16px;
  }

  header {
    position: relative;
    justify-content: center;
    padding: 0;
    top: 0;
  }
  .text-container {
    align-items: center;
    button {
      background-color: transparent;
      &:hover {
        color: $purple2;
        transform: scale(1.015);
      }
    }
  }
}

@media (max-width: 1000px) {
  .main-container {
    padding: 0px 20px;
  }

  .login-card {
    .input-group {
      padding: 13px 32px;
      gap: 6px;
    }
    .separator {
      padding: 0px 20px;
    }
  }
}

@media (max-width: 675px) {
  .login-card {
    padding: 35px 20px;
    h2 {
      font-size: 32px;
    }
    p {
      font-size: 17px;
    }
    .button-container {
      justify-content: center;
      gap: 20px;
    }
    .google-login {
      font-size: 16px;
    }
    .btn {
      font-size: 16px;
    }

    .error-message {
      font-size: 12px;
    }
  }

  .forgot-password {
    font-size: 16px;
  }
}

@media (max-width: 380px) {
  .login-card {
    .button-container {
      flex-direction: column;
    }

    .btn {
      min-width: 145px;
    }
  }
}
