@import "../../../../mixins.scss";

.material-symbols-outlined {
  font-variation-settings: "FILL" 10, "wght" 400, "GRAD" 0, "opsz" 14;
}

.main-container {
  width: 100%;
  height: 100vh;
  background-color: $bg-color;
  @include dFlex();
  font-size: 18px;
  position: relative;
}

.back-arrow

header {
  width: 100%;
  @include dFlex($fd: row, $jc: space-between, $ai: flex-start);
  position: absolute;
  top: 75px;
  left: 0;
  padding: 0px 75px;
}

.logo {
  @include dFlex($fd: row, $g: 16px);
  img {
    width: 70px;
    height: 70px;
  }
  span {
    font-size: 38px;
    color: #000000;
    font-weight: 500;
    letter-spacing: -2px;
  }
}

.text-container {
  @include dFlex($ai: flex-end, $g: 20px);
  a {
    text-decoration: none;
    color: $purple1;
  }
}

.login-card {
  background-color: white;
  border-radius: 30px;
  padding: 50px 60px;
  max-width: 606px;
  width: 100%;
  box-shadow: 0px 2px 10px 0px #00000014;
  text-align: center;

  h2 {
    font-size: 46px;
    color: $purple1;
    font-weight: 700;
    margin-bottom: 30px;
  }

  p {
    font-size: 20px;
    font-weight: 400;
    color: black;
    margin-bottom: 30px;
  }

  .input-group {
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 60px;
    border-radius: 100px;
    background-color: $bg-color;
    padding: 0px 0px 0px 32px;
    @include dFlex($fd: row, $g: 16px);
    outline: none;
    border: 1px solid white;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all 125ms ease-in-out;
    &:focus-within {
      border-color: $purple1 !important;
    }

    &:hover {
      border-color: $text-gray;
    }

    label {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: #aaa;
    }

    input {
      width: 100%;
      font-size: 18px;
      height: 100%;
      padding: 0px 8px;
      font-weight: 500;
      border-radius: 100px;
      background-color: $bg-color;
      border: 1px solid transparent;
      outline: none;
      cursor: pointer;
      transition: all 125ms ease-in-out;
    }
  }

  .forgot-password-container {
    width: 100%;
    @include dFlex();
    margin-bottom: 1rem;
  }

  .forgot-password {
    display: block;
    color: $purple1;
    font-size: 18px;
    text-decoration: none;
    max-width: max-content;
    padding: 5px 15px;
    border-radius: 25px;
    transition: all 125ms ease-in-out;
    &:hover {
      background-color: $bg-color;
      transform: scale(1.0115);
    }
  }

  .button-container {
    @include dFlex($fd: row, $g: 30px);
  }

  .next-btn {
    padding: 12px 25px;
    height: 49px;
    background-color: $purple1;
    border: none;
    font-size: 18px;
    font-weight: 700;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    transition: all 125ms ease-in-out;
    &:hover {
      background-color: #444df2bd;
    }
  }
}

footer {
  @include dFlex($fd: row, $g: 16px);
  position: absolute;
  bottom: 50px;
  .footer-anker {
    padding: 10px 15px;
    color: $purple1;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 25px;
    transition: all 125ms ease-in-out;
    &:hover {
      border-color: grey;
    }
  }
}
