@import "../../../../mixins.scss";

.material-symbols-outlined {
  font-variation-settings: "FILL" 10, "wght" 400, "GRAD" 0, "opsz" 14;
}

.main-container {
  width: 100%;
  height: 100vh;
  background-color: $bg-color;
  @include dFlex();
  font-size: 18px;
  position: relative;
}

header {
  width: 100%;
  @include dFlex($fd: row, $jc: space-between, $ai: flex-start);
  position: absolute;
  top: 75px;
  left: 0;
  padding: 0px 75px;
}

.logo {
  @include dFlex($fd: row, $g: 16px);
  img {
    width: 70px;
    height: 70px;
  }
  span {
    font-size: 38px;
    color: #000000;
    font-weight: 500;
    letter-spacing: -2px;
  }
}

.text-container {
  @include dFlex($ai: flex-end, $g: 20px);
  a {
    text-decoration: none;
    color: $purple1;
  }
}

.login-card {
  background-color: white;
  border-radius: 30px;
  padding: 50px 60px;
  max-width: 606px;
  width: 100%;
  box-shadow: 0px 2px 10px 0px #00000014;
  text-align: center;
  position: relative;

  .back-arrow {
    position: absolute;
    left: 32px;
    top: 45px;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    @include dFlex();
    transition: all 125ms ease-in-out;
    &:hover {
      background-color: $bg-color;
    }
  }

  h2 {
    font-size: 46px;
    color: $purple1;
    font-weight: 700;
    margin-bottom: 30px;
  }

  p {
    font-size: 20px;
    font-weight: 400;
    color: black;
    margin-bottom: 30px;
  }

  .input-group {
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 60px;
    border-radius: 100px;
    background-color: $bg-color;
    padding: 0px 0px 0px 32px;
    @include dFlex($fd: row, $g: 16px);
    outline: none;
    border: 1px solid white;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all 125ms ease-in-out;
    &:focus-within {
      border-color: $purple1 !important;
    }

    &:hover {
      border-color: $text-gray;
    }

    label {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: #aaa;
    }

    input {
      width: 100%;
      font-size: 18px;
      height: 100%;
      padding: 0px 8px;
      font-weight: 500;
      border-radius: 100px;
      background-color: $bg-color;
      border: 1px solid transparent;
      outline: none;
      cursor: pointer;
      transition: all 125ms ease-in-out;
    }
  }

  // ERROR MESSAGES
  .error-message {
    position: absolute;
    top: 100%;
    left: 0;
    color: $error-rosa;
    font-size: 14px;
  }

  .button-container {
    @include dFlex($fd: row, $jc: flex-end);
  }

  .next-btn {
    padding: 12px 25px;
    height: 49px;
    background-color: $purple1;
    border: none;
    font-size: 18px;
    font-weight: 700;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    transition: all 125ms ease-in-out;
    &:hover {
      background-color: #444df2bd;
    }
  }
}

.privacy-container {
  position: relative;
  @include dFlex($fd: row, $jc: flex-start);
  margin-bottom: 30px;
  font-size: 16px;
  color: #42526e;
  max-width: max-content;
  .checkbox-container {
    padding: 6px;
    margin-right: 8px;
    border-radius: 50px;
    transition: all 125ms ease-in-out;
    @include dFlex();
    cursor: pointer;
    &:hover {
      background-color: $bg-color;
    }
  }


  input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;
    width: 1.35em;
    height: 1.35em;
    border: 0.15em solid $purple1;
    border-radius: 0.15em;
    display: grid;
    place-content: center;
    cursor: pointer;
  }

  input[type="checkbox"]::before {
    content: "";
    width: 0.85em;
    height: 0.85em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    border-radius: 40px;
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 0.5em 0.5em $purple1;
    background-color: CanvasText;
  }

  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }

  .privacy-span {
    color: $purple1;
    font-size: 18px; 
      cursor: pointer;
  }
}

footer {
  @include dFlex($fd: row, $g: 16px);
  position: absolute;
  bottom: 50px;
  .footer-anker {
    padding: 10px 15px;
    color: $purple1;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 25px;
    transition: all 125ms ease-in-out;
    &:hover {
      border-color: grey;
    }
  }
}
