<div class="main-container">
    <header>
        <div class="logo">
            <img src="assets/logos/logo.svg" alt="DABubble Logo" />
            <span>DABubble</span>
        </div>
    </header>
    <div class="login-card">
        <a (mouseover)="authService.backArrowPurple()" (mouseleave)="authService.backArrowBlack()"
            (click)="authService.backArrowBlack()" [routerLink]="['']" class="back-arrow">
            <img [src]="authService.backArrowSvg" alt="arrow back">
        </a>
        <h2>Konto erstellen</h2>
        <p>
            Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.
        </p>
        <form>
            <div class="input-group">
                <img [src]="authService.nameSvg" alt="person-icon">
                <label for="name"></label>
                <input [(ngModel)]="authService.registerNameValue" #nameI="ngModel" id="name" name="name" type="text"
                    minlength="5" required [placeholder]="authService.placeholderName" autocomplete="name"
                    (focus)="authService.focusNameInput()" (blur)="authService.blurNameInput()" />
                @if (nameI.errors?.['required']) {
                <span class="error-message">Bitte schreiben Sie einen Namen</span>
                }

            </div>
            <div class="input-group">
                <img [src]="authService.mailSvg" alt="mail-icon">
                <label for="email"></label>
                <input [(ngModel)]="authService.registerMailValue" #emailI="ngModel" id="email" name="email"
                    type="email" minlength="5" required [placeholder]="authService.placeholderMail" autocomplete="email"
                    required pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" (focus)="authService.focusMailInput()"
                    (blur)="authService.blurMailInput()" />
                @if (emailI.errors?.['required']) {
                <span class="error-message">Bitte geben Sie eine E-Mail-Adresse ein</span>
                } @else if (emailI.errors?.['pattern']) {
                <span class="error-message">Diese E-Mail-Adresse ist leider ungültig</span>
                }



            </div>
            <div class="input-group">
                <img [src]="authService.passwordSvg" alt="pw-icon">
                <label for="password"><i class="fas fa-lock"></i></label>
                <input [(ngModel)]="authService.registerPwValue" #passwordI="ngModel" id="password" name="password"
                    type="password" min="7" required [placeholder]="authService.placeholderPw" autocomplete="email"
                    required (focus)="authService.focusPwInput()" (blur)="authService.blurPwInput()" />
                @if (passwordI.errors?.['required']) {
                <span class="error-message">Bitte geben Sie ein Passwort mit mindestens 7 Zeichen ein.</span>
                }

            </div>

            <label class="privacy-container" (click)="authService.toggleCheckbox($event, checkbox)">
                <div class="checkbox-container">
                    <input [(ngModel)]="checkbox" id="checkbox" name="checkbox" #checkbox #checkboxI="ngModel"
                        type="checkbox" name="checkbox" required />

                </div>
                <span> ich stimme der <span class="privacy-span"
                        [routerLink]="['/privacy-policy']">Datenschutzerklärung</span>
                    zu.</span>
                @if (checkboxI.errors?.['required']) {
                <span class="error-message">Bitte akzeptieren sie die Datenschutzerklärung</span>
                }
            </label>
            <div class="button-container">
                <a [routerLink]="['/add-avatar']"> <button [disabled]="!profileForm.valid" type="submit"
                        class="next-btn">Weiter</button></a>
            </div>
        </form>

    </div>
    <footer>
        <a [routerLink]="['/imprint']" class="footer-anker">Impressum</a>
        <a [routerLink]="['/privacy-policy']" class="footer-anker">Datenschutz</a>
    </footer>
</div>