<div class="main-container">
    <header>
        <div class="logo">
            <img src="assets/logos/logo.svg" alt="DABubble Logo" />
            <span>DABubble</span>
        </div>
    </header>
    <div class="login-card">
        <a (mouseover)="styleService.backArrowPurple()" (mouseleave)="styleService.backArrowBlack()"
            (click)="styleService.backArrowBlack()" [routerLink]="['']" class="back-arrow">
            <img [src]="styleService.backArrowSvg" alt="arrow back">
        </a>
        <h2>Konto erstellen</h2>
        <p>
            Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.
        </p>
        <form>
            <div class="input-group">
                <img [src]="styleService.nameSvg" alt="person-icon">
                <label for="name"></label>
                <input (focus)="styleService.focusNameInput()" (blur)="styleService.blurNameInput()" type="passwort"
                    id="name" [placeholder]="styleService.placeholderName" autocomplete="name" />
            </div>
            <div class="input-group">
                <img [src]="styleService.mailSvg" alt="mail-icon">
                <label for="email"></label>
                <input (focus)="styleService.focusMailInput()" (blur)="styleService.blurMailInput()" type="email"
                    id="email" [placeholder]="styleService.placeholderMail" autocomplete="email" />
            </div>
            <div class="input-group">
                <img [src]="styleService.passwordSvg" alt="pw-icon">
                <label for="password"><i class="fas fa-lock"></i></label>
                <input (focus)="styleService.focusPwInput()" (blur)="styleService.blurPwInput()" type="password"
                    id="password" [placeholder]="styleService.placeholderPw" autocomplete="new-password" />
            </div>

            <label class="privacy-container" (click)="styleService.toggleCheckbox($event, checkbox)">
                <div class="checkbox-container">
                    <input #checkbox type="checkbox" name="checkbox" />
                </div>
                <span> ich stimme der <span class="privacy-span"
                        [routerLink]="['/privacy-policy']">Datenschutzerklärung</span>
                    zu.</span>
            </label>
            <div class="button-container">
                <a [routerLink]="['/add-avatar']"> <button type="submit" class="next-btn">Weiter</button></a>
            </div>
        </form>

    </div>
    <footer>
        <a [routerLink]="['/imprint']" class="footer-anker">Impressum</a>
        <a [routerLink]="['/privacy-policy']" class="footer-anker">Datenschutz</a>
    </footer>
</div>