@import "../../../../mixins.scss";

.material-symbols-outlined {
  font-variation-settings: "FILL" 10, "wght" 400, "GRAD" 0, "opsz" 14;
}

.main-container {
  width: 100%;
  min-height: 100vh;
  @include dFlex($g: 30px, $jc: center);
  font-size: 18px;
}

// ERROR MESSAGES
.error-message {
  position: absolute;
  top: 100%;
  left: 0;
  color: $error-rosa;
  font-size: 14px;
}

.invalid {
  background-color: $text-gray !important;
  &:hover {
    background-color: rgb(133, 133, 133) !important;
  }
}

header {
  width: 100%;
  @include dFlex($fd: row, $jc: flex-start);
  padding: 0px 75px;
  position: absolute;
  top:20px;
}

.logo {
  @include dFlex($fd: row, $g: 16px);
  span {
    font-size: 38px;
    color: #000000;
    font-weight: 500;
    letter-spacing: -2px;
  }
}

.text-container {
  @include dFlex($ai: flex-end, $g: 20px);
  a {
    text-decoration: none;
    color: $purple1;
  }
}

.login-card {
  background-color: white;
  border-radius: 30px;
  padding: 50px 60px;
  max-width: 698px;
  width: 100%;
  box-shadow: 0px 2px 10px 0px #00000014;
  text-align: center;
  position: relative;

  .back-arrow {
    position: absolute;
    left: 32px;
    top: 45px;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    @include dFlex();
    transition: all 125ms ease-in-out;
    &:hover {
      background-color: $bg-color;
    }
  }

  h2 {
    font-size: 46px;
    color: $purple1;
    font-weight: 700;
    margin-bottom: 30px;
    min-width: fit-content;
  }

  p {
    font-size: 20px;
    font-weight: 400;
    color: black;
    margin-bottom: 30px;
  }

  form {
    width: 100%;
    @include dFlex();
  }

  .input-group {
    position: relative;
    max-width: 500px;
    width: 100%;
    height: 60px;
    border-radius: 100px;
    background-color: $bg-color;
    padding: 0px 0px 0px 32px;
    @include dFlex($fd: row, $g: 16px);
    outline: none;
    border: 1px solid white;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all 125ms ease-in-out;
    &:focus-within {
      border-color: $purple1 !important;
    }

    &:hover {
      border-color: $text-gray;
    }

    label {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: #aaa;
    }

    input {
      width: 100%;
      font-size: 18px;
      height: 100%;
      padding: 0px 8px;
      font-weight: 500;
      border-radius: 100px;
      background-color: $bg-color;
      border: 1px solid transparent;
      outline: none;
      cursor: pointer;
      transition: all 125ms ease-in-out;
    }
  }

  .button-container {
    @include dFlex($fd: row, $jc: flex-end);
    width: 100%;
  }

  .next-btn {
    padding: 12px 25px;
    height: 49px;
    background-color: $purple1;
    border: none;
    font-size: 18px;
    font-weight: 700;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    transition: all 125ms ease-in-out;
    &:hover {
      background-color: #444df2bd;
    }
  }
}

.text-container {
  @include dFlex($fd: row);
  margin-bottom: 30px;
  font-size: 16px;
  color: #42526e;
  .privacy-span {
    color: $purple1;
    font-size: 18px;
  }
}

footer {
  @include dFlex($fd: row, $g: 16px);
  position: relative;
  .footer-anker {
    padding: 10px 15px;
    color: $purple1;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 25px;
    transition: all 125ms ease-in-out;
    &:hover {
      border-color: grey;
    }
  }
}

@media (max-width: 1325px) {
  .hide-mobile {
    display: none !important;
  }

  .show-mobile {
    display: flex !important;
  }

  .main-container {
    gap: 30px;
    position: relative;
    font-size: 16px;
  }

  header {
    position: relative;
    justify-content: center;
    padding: 0;
    top: 0;
  }
  .text-container {
    align-items: center;
    button {
      background-color: transparent;
      &:hover {
        color: $purple2;
        transform: scale(1.015);
      }
    }
  }
}

@media (max-width: 1000px) {
  .main-container {
    padding: 0px 20px;
  }

  .login-card {
    .input-group {
      padding: 13px 32px;
      gap: 6px;
      margin-bottom: 40px;
    }
  }

  .privacy-container {
    margin-bottom: 50px;
    span {
      text-align: start;
    }
  }
}

@media (max-width: 675px) {
  .login-card {
    padding: 35px 20px;
    h2 {
      font-size: 32px;
    }
    p {
      font-size: 17px;
    }
    .button-container {
      justify-content: center;
      gap: 20px;
    }
    .btn {
      font-size: 16px;
    }

    .error-message {
      font-size: 12px;
      text-align: start;
      padding: 0px 10px;
    }

    .back-arrow {
      position: absolute;
      left: 20px;
      top: 22px;
      border-radius: 50px;
      height: 40px;
      width: 40px;
      @include dFlex();
      transition: all 125ms ease-in-out;
      &:hover {
        background-color: $bg-color;
      }
    }
  }
}

@media (max-width: 513px) {
  .login-card {
    .button-container {
      flex-direction: column;
    }

    h2 {
      margin-top: 30px;
    }

    .btn {
      min-width: 145px;
    }
  }

  .avatar-choosing-container {
    @include dFlex($g: 16px);
    width: 100%;
    .name-and-span {
      width: 100%;
      h3 {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 8px;
      }
      .span {
        font-size: 20px;
        font-weight: 400;
        width: 100%;
        @include dFlex($ai: flex-start);
      }
    }
    .available-avatars {
      width: 100%;
      @include dFlex($jc: space-around, $fd: row);
      overflow-x: auto;
      .img-container {
        border: 4px solid transparent;
        border-radius: 100px;
        transition: all 125ms ease-in-out;
        cursor: pointer;
        @include dFlex();
        img {
          height: 48px;
          width: 48px;
        }
        &:hover {
          border-color: #eceefe;
        }
      }
    }
  }
}
