
<div class="main-container">
    <header>
        <div class="logo">
            <img src="assets/logos/logo-DABubble.svg" alt="DABubble Logo" />
        </div>
    </header>
    <div class="login-card">
        <a (mouseover)="authStyle.backArrowPurple()" (mouseleave)="authStyle.backArrowBlack()"
            (click)="authStyle.backArrowBlack()" [routerLink]="['/login']" class="back-arrow">
            <img [src]="authStyle.backArrowSvg" alt="arrow back">
        </a>
        <h2>Passwort zurücksetzen</h2>
        <p>
            Bitte geben Sie Ihre E-Mail-Adresse ein.
        </p>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <div class="input-group">
                <img [src]="authStyle.mailSvg" alt="mail-icon">
                <label for="email"></label>
                <input formControlName="email" (focus)="authStyle.focusMailInput()"
                    (blur)="authStyle.blurMailInput('password-reset')" type="email" id="email"
                    [placeholder]="authStyle.placeholderMail" autocomplete="email" required />
                @if (forgotPasswordForm.controls['email'].invalid && forgotPasswordForm.controls['email'].touched ) {
                <span class="error-message">Bitte geben Sie eine gültige E-Mail-Adresse ein.</span>
                }
            </div>
            <div class="text-container">
                <span>Wir senden Ihnen eine E-Mail, über die <br>
                    Sie Ihr Passwort ändern können.</span>
            </div>
            <div class="button-container">
                @if (!forgotPasswordForm.valid) {
                <button class="next-btn invalid">E-Mail senden</button>
                } @else {
                <button type="submit" class="next-btn">E-Mail senden</button>
                }
            </div>
        </form>
    </div>
    <footer>
        <a [routerLink]="['/imprint']" class="footer-anker">Impressum</a>
        <a [routerLink]="['/privacy-policy']" class="footer-anker">Datenschutz</a>
    </footer>
</div>