@import "../../../../mixins.scss";

div {
  color: white;
  background-color: $purple1;
  @include dFlex();
  width: 100%;
  max-width: 410px;
  border-radius: 20px;
  border-top-left-radius: 0px;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 9999;
  span {
    padding: 25px;
  }
}
