@import '../../../styles.scss';

.mobile-view { 
  display: none; 
} 

.desktop-view { 
  display: flex; 
}

@media (max-width: 950px) {
  .mobile-view { 
    display: flex; 
  } 

  .desktop-view { 
    display: none; 
  }
}

.dashboard-class {
  height: 100vh;
  width: 100%;
  margin: 0; 
}

.header-container-class {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 100%;
 margin: 0;
}

.dashboard-container-class {
  background-color: $bg-color;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px); 
  position: relative;
  top: 100px;
  width: 100%;
  // gap: 20px;


}

app-sidenav {
  flex: 1 1 16%;  
  padding: 0px 0px 16px 16px;
  height: 100%;

  max-width: 400px;
  min-width: 360px;
}

app-chat {
  flex: 1 1 60%;  
  padding: 0px 16px 0px 16px;
  height: 100%;
}

app-thread-bar {
  flex: 1 1 24%; 
  padding: 0px 16px 0px 0px;
  height: 100%;

 
}


.chat-desktop-view-class{
  padding: 0px 16px 16px 16px;
}
.threadbar-desktop-view-class{
  padding: 0px 16px 16px 0px;
}

/* Button to show and hide sidebar */
.toggle-sidebar-btn {
  z-index: 15;
  position: fixed;
  left: -6px;
  bottom: 5%;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;

  img {
    transition: all 0.3s ease-in-out;
  }
}

@media (max-width: 950px) {
  .dashboard-container-class {

    position: relative;
    top: 80px;

   
  }

  app-thread-bar{
    padding: 0px 16px 0px 16px;
  }
}


@media (max-width: 750px) {

  app-thread-bar{
    padding: 0px 0px 0px 0px;
  }

  app-chat {
    padding: 0px 0px 0px 0px;
  
  flex-grow: 1;

  }

  .dashboard-container-class {
 
    height: calc(100vh - 80px); 



  }
}

