/* Add Members Popup */
.popup-content-add-members {
  background: white;
  width: 600px;
  padding: 40px;
  border-radius: 30px;
  text-align: left;
  position: absolute;
  left: 30%;
  top: 30%;

  @media (max-width: 950px) {
    position: absolute;
    top: unset;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-height: 70vh;
    height: auto;
    overflow-y: auto;
    border-radius: 30px 30px 0 0;
    padding: 100px 30px 50px 30px;
    transition: height 0.3s ease-in-out;
  }

  h2 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 32px;
    margin-top: 0;
  }

  .rectangle-mobile {
    display: none;
  }

  .selection-option {
    display: flex;
    align-items: center;
    margin-top: 20px;

    label {
      display: flex;
      align-items: center;
      cursor: pointer;

      .radio-icon {
        width: 24px;
        height: 24px;
        margin-right: 10px;
        transition: transform 0.3s ease;
      }

      .radio-label {
        font-size: 16px;
        color: #686868;
        transition: color 0.3s ease;
      }

      &:hover .radio-icon {
        transform: scale(1.1);
      }

      &:hover .radio-label {
        color: gray;
      }
    }
  }

  .input-group {
    margin-top: 20px;

    label {
      display: block;
      font-size: 16px;
      font-weight: 600;
      color: gray;
      margin-bottom: 8px;
    }

    input {
      width: 100%;
      padding: 15px;
      font-size: 16px;
      border: 1px solid #adb0d9;
      border-radius: 20px;
      color: #686868;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: gray;
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;

    .button-primary {
      width: 120px;
      height: 50px;
      background-color: #444df2;
      color: white;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      font-size: 18px;
      font-weight: 700;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #797ef3;
      }

      &:disabled {
        background-color: gray;
        cursor: not-allowed;
      }
    }
  }

  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all ease-in-out 150ms;

    svg {
      fill: #000000;
      stroke-width: 1;
    }

    svg path {
      transition: all ease-in-out 150ms;
    }

    &:hover {
      background-color: #eceefe;

      svg path {
        fill: #797ef3;
        stroke-width: 0.6;
        stroke: #797ef3;
      }
    }
  }
}

/* Scrollable Area */
.scrollable-area {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  overflow-y: auto;
  padding: 10px;
  padding-top: 20px;
  flex: 1;
}

	.user-input {
    margin-top: 20px;
		width: 100%;
		padding: 15px;
		font-size: 16px;
		border: 1px solid #adb0d9;
		border-radius: 30px;
    min-height: 50px;
		color: #686868;
		transition: border-color 0.3s ease;

		&:focus {
			border-color: gray;
			outline: none;
		}

		&::placeholder {
			color: #b0b0b0;
		}
	}

  
/* Container for Dropdown */
.dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
  padding: 10px;
  flex: 1;

  .user-info-class {
    color: red;
    padding: 10px;
    font-weight: 700;
  }
}

/* User List Styling */
.user-list {
  flex: 1;
  overflow-y: auto;
  padding: 0;
  border-radius: 30px;
  border: 1px solid gray;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.12);
  width: 320px;
  gap: 20px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: -10px;
  z-index: 10;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 30px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 20px;

    &:hover {
      background-color: #eceefe;
      border-radius: 40px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
  }
  img {
    width: 68px;
    height: 68px;
    border-radius: 50%; 
  }
}

.user-details {
  display: flex;
  align-items: center;

  .user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover; /* Ensure the image fits properly */
  }

  span {
    font-size: 16px;
    font-weight: 400;
    color: #333; /* Slightly darker for better readability */
  }
}

.checkbox-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

input[type='checkbox'] {
  transform: scale(1.2);
  cursor: pointer;
  margin-right: 10px;
}

/* Mobile View */
@media (max-width: 950px) {
.rectangle-mobile {
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 6px;
  background-color: #d9d9d9;
  border-radius: 23px;
  margin-bottom: 40px;
}

.button-container {
  height: 60px;
  margin-right: 20px;
}

.close-btn {
  top: 95px !important;
  right: 35px !important;
  margin-top: -50px;
}
}
 
@media (max-width: 550px) {
  .popup-content-edit-channel {
    padding: 15px;
  }

  h2 {
    font-size: 20px !important;
  }

  .edit-btn {
    margin-right: 5px !important;
  }

  .user-list {
    width: 250px;
  }

  .button-container {
    justify-content: center;
  }

  .close-btn { 
    top: 15px;
    right: 15px;
  }
}