<div class="display-profile-class">
  <div class="profile-header">
    <h2>Profil</h2>
    <button class="close-button" (click)="closeProfile()">
      <img src="assets/icons/close.svg" alt="Schließen">
    </button>
  </div>

  <div class="profile-image-class">
    <img src="assets/basic-avatars/default-avatar.svg" alt="Profilbild" />
  </div>


  <div class="personal-info-class">
    <div class="display-name-box-class">
      <span>name</span>
      <a href="#" class="edit-link" (click)="editProfile($event)">Bearbeiten</a>
    </div>

    <div class="status-box">
      <span class="status-indicator"></span>
      <span class="status-text">active</span>
    </div>
  </div>

  <div class="contact-info">
    <div class="mail-class">
      <img src="assets/icons/mail.svg" alt="E-Mail Icon">
      <span class="email-label">E-Mail-Adresse</span>
    </div>
    <a href="m....:email">emailmail.de</a>
  </div>

</div>