.display-profile-class{
  width: 400px;
  border-radius: 30px 0 30px 30px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  position: absolute;
  top: 100px;
  right: 50px;
  z-index: 2;
  font-size: 18px;
  font-weight: normal;
  gap: 20px;
 
  .profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    h2 {
      font-size: 1.2em;
      margin: 0;
    }

    .close-button {
      background: none;
      border: none;
      cursor: pointer;

      img {
        width: 16px;
        height: 16px;
      }
    }
  }

  .profile-image-class {
      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
    }
    
  }


  .personal-info-class 
  {
    width: 100%;
    .display-name-box-class{
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 44px;
      span {      
        font-size: 32px;
        font-weight: 700;
        background-color: #f1f1f1;
      }
      
      .edit-link {
        color: #535AF1;
        font-size: 18px;
        cursor: pointer;
        text-decoration: none;
      }

    }
 

    .status-box {
      display: flex;
      align-items: center;
      font-size: 20px;
      font-weight: 400;
      margin-top: 15px;

      .status-indicator {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 5px;
        background-color: gray;
      }

      .active {
        background-color: #32cd32;
      }

      .status-text {
        color: #32cd32;
      }
    }
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 100%;
    
    .mail-class {
      display: flex;
      align-items: center;
      img {
        width: 30px;
        height: 16px;
        margin-right: 20px;
      }
      span{
        font-size: 20px;
        font-weight: 700;
      }
    }

    a{
      color: #535AF1;
      text-decoration: none;
      padding-left: 50px;
      padding-top: 10px;
    }
  }
}
