<div class="display-profile-class">
  <div class="profile-header">
    <h2>Profil</h2>
    <button class="close-button" (mouseover)="changeCloseButton('assets/icons/close-hover.svg')"
      (mouseleave)="changeCloseButton('assets/icons/close.svg')" (click)="profileService.closePopup()">
      <img [src]="closeButton" alt="Schließen" />
    </button>
  </div>

  <div class="profile-image-class">
    <img [src]="authService.currentUserData.avatarUrl" alt="Profilbild" />
  </div>

  <div class="personal-info-class">
    <div class="display-name-box-class">
      <span>{{ authService.currentUserData.displayName }}</span>
      <a (click)="profileService.switchToEditProfile()" class="edit-link">Bearbeiten</a>
    </div>


    <div class="status-box">
      @if (this.authService.currentUserData.userStatus === 'online') {
      <span class="status-indicator online"></span>
      <span class="status-text online-text">Aktiv</span>
      } @else if (this.authService.currentUserData.userStatus === 'away') {
      <span class="status-indicator away"></span>
      <span class="status-text away-text">Abwesend</span>
      } @else {
        <span class="status-indicator offline"></span>
        <span class="status-text offline-text">Offline</span>
      }
    </div>
  </div>

  <div class="contact-info">
    <div class="mail-class">
      <img src="assets/icons/mail-bold.svg" alt="E-Mail Icon" />
      <span class="email-label">E-Mail-Adresse</span>
    </div>
    <a [href]="'mailto:' + authService.currentUserData.displayEmail">{{
      authService.currentUserData.displayEmail
      }}</a>
  </div>
</div>