@import "../../../mixins.scss";

header {
  width: 100%;
  @include dFlex($fd: row, $jc: space-between, $ai: flex-start);
  position: relative;
  top: 22px;
  padding: 0px 75px;
}

.main-container-Legal {
  width: 100%;
  height: 100%;
  background-color: #eceefe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pp-container {
  position: relative;
  background-color: white;
  border-radius: 30px;
  padding: 60px;
  max-width: 600px;
  width: 100%; /* Dynamische Breite */
  padding: 2rem;
  @include dFlex($g: 30px);
  overflow: hidden;

  p {
    width: 100%;
  }
}

.topHeadline {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 50px;
  color: #535af1;
}

.pp-h1 {
  font-size: 48px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 2px;
  color: #535af1;
}

.pp-h2 {
  margin-top: 20px;
  font-size: 34px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 1px;
  color: #535af1;
}

.pp-h3 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 1px;
  color: #535af1;
}

.highlight {
  color: #4589ff;
}

.goBackButton {
  background: none;
  border: none;
  position: absolute;
  top: 20px;
  left: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 8px;
  border-radius: 50%;
}

.goBackButton::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  z-index: 0;
}

.goBackButton:hover::after {
  background-color: #eceefe;
}

.goBackButton:hover .goBackIcon {
  content: url("/assets/icons/arrow-left-purple.svg");
}

.goBackIcon {
  width: 24px;
  height: auto;
  z-index: 1;
}

@media (max-width: 768px) {
  header {
    padding: 0;
    justify-content: center;
  }

  .pp-container {
    padding: 1.5rem;
    margin: 1rem;
  }

  .topHeadline {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  .pp-h1 {
    margin-top: 40px;
    font-size: 2rem;
    text-align: center;
  }

  .goBackButton {
    margin-top: 0.5rem;
  }

  .pp-h2 {
    font-size: 1.5rem;
  }

  .pp-h3 {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .pp-container {
    padding: 1rem;
  }

  .pp-h1 {
    font-size: 1.5rem;
    letter-spacing: -1px;
  }

  .pp-h2 {
    font-size: 1.25rem;
  }

  .pp-h3 {
    font-size: 0.875rem;
  }

  .logoTopLeft {
    height: 40px;
  }
}

@media (min-width: 800px) {
  .templateMainContainer {
    padding: 4rem;
    max-width: 2000px;
  }

  .main-container-Legal {
    display: flex;
  }
}
