<!-- Datenschutzrichtlinie -->
<main class="main-container-Legal">
    <!-- Logo -->

    <header class="show-mobile">
        <div class="logo">
            <img src="assets/logos/logo-DABubble.svg" alt="DABubble Logo" />
        </div>
    </header>
    <!-- Datenschutzinhalt -->
    <div class="pp-container">
        <button (click)="navigateToLogin()" aria-label="Zurück" class="goBackButton">
            <img src="assets/icons/arrow-left-black.svg" alt="Zurück" class="goBackIcon">
        </button>
        <div class="topHeadline">
            <h1 class="pp-h1">Datenschutzrichtlinie</h1>
        </div>

        <h2 class="pp-h2">1. Überblick zum Datenschutz</h2>
        <h3 class="pp-h3">Allgemeine Informationen</h3>
        <p>Die folgenden Informationen geben Ihnen einen einfachen Überblick darüber, was mit Ihren personenbezogenen
            Daten passiert, wenn Sie diese Website besuchen. Der Begriff „personenbezogene Daten“ umfasst alle Daten,
            mit denen Sie persönlich identifiziert werden können. Ausführliche Informationen zum Thema Datenschutz
            finden Sie in unserer Datenschutzerklärung, die Sie unter diesem Text finden.</p>
        <br>
        <h3 class="pp-h3">Datenerfassung auf dieser Website</h3>
        <h4>Wer ist verantwortlich für die Datenerfassung auf dieser Website?</h4>
        <p>Die Datenverarbeitung auf dieser Website erfolgt durch den Betreiber der Website, dessen Kontaktdaten im
            Abschnitt „Informationen zum Verantwortlichen“ in dieser Datenschutzerklärung zu finden sind.</p>
        <h4>Wie erfassen wir Ihre Daten?</h4>
        <p>Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen. Hierbei kann es sich
            beispielsweise um Daten handeln, die Sie in ein Kontaktformular eingeben.</p>
        <p>Andere Daten werden automatisch oder nach Ihrer Einwilligung beim Besuch der Website durch unsere IT-Systeme
            erfasst. Dabei handelt es sich vor allem um technische Daten (z. B. Internetbrowser, Betriebssystem oder
            Uhrzeit des Seitenaufrufs). Diese Daten werden automatisch erfasst, sobald Sie diese Website betreten.</p>
        <h4>Wofür nutzen wir Ihre Daten?</h4>
        <p>Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der Website zu gewährleisten. Andere
            Daten können zur Analyse Ihres Nutzerverhaltens verwendet werden.</p>
        <h4>Welche Rechte haben Sie bezüglich Ihrer Daten?</h4>
        <p>Sie haben jederzeit das Recht, unentgeltlich Auskunft über Herkunft, Empfänger und Zweck Ihrer gespeicherten
            personenbezogenen Daten zu erhalten. Sie haben außerdem ein Recht, die Berichtigung oder Löschung dieser
            Daten zu verlangen. Wenn Sie eine Einwilligung zur Datenverarbeitung erteilt haben, können Sie diese
            Einwilligung jederzeit für die Zukunft widerrufen. Darüber hinaus haben Sie das Recht, unter bestimmten
            Umständen die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen. Außerdem steht
            Ihnen ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu.</p>
        <p>Hierzu sowie zu weiteren Fragen zum Thema Datenschutz können Sie sich jederzeit an uns wenden.</p>
        <br>

        <h2 class="pp-h2">2. Allgemeine Informationen und Pflichtangaben</h2>
        <h3 class="pp-h3">Datenschutz</h3>
        <p>Die Betreiber dieser Website nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre
            personenbezogenen Daten vertraulich und entsprechend den gesetzlichen Datenschutzvorschriften sowie dieser
            Datenschutzerklärung.</p>
        <p>Wenn Sie diese Website benutzen, werden verschiedene personenbezogene Daten erhoben. Personenbezogene Daten
            sind Daten, mit denen Sie persönlich identifiziert werden können. Diese Datenschutzerklärung erläutert,
            welche Daten wir erheben und wofür wir sie nutzen. Sie erläutert auch, wie und zu welchem Zweck das
            geschieht.</p>
        <p>Wir weisen darauf hin, dass die Datenübertragung im Internet (z. B. bei der Kommunikation per E-Mail)
            Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht
            möglich.</p>
        <br>

        <h3 class="pp-h3">Informationen zum Verantwortlichen</h3>
        <p>Verantwortlicher für die Datenverarbeitung auf dieser Website ist:</p>
        <p>Caroline Willers<br>Rorupweg 8<br>48161 Münster</p>
        <p>Telefon: +49 152 32025356<br>E-Mail: carowillers&#64;gmail.com</p>
        <p>Verantwortlicher ist die natürliche oder juristische Person, die allein oder gemeinsam mit anderen über die
            Zwecke und Mittel der Verarbeitung von personenbezogenen Daten (z. B. Namen, E-Mail-Adressen o. Ä.)
            entscheidet.</p>
        <br>

        <h3 class="pp-h3">Speicherdauer</h3>
        <p>Sofern in dieser Datenschutzerklärung keine speziellere Speicherdauer genannt wurde, verbleiben Ihre
            personenbezogenen Daten bei uns, bis der Zweck für die Datenverarbeitung entfällt. Wenn Sie ein berechtigtes
            Löschersuchen geltend machen oder eine Einwilligung zur Datenverarbeitung widerrufen, werden Ihre Daten
            gelöscht, sofern wir keine anderen rechtlich zulässigen Gründe für die Speicherung Ihrer personenbezogenen
            Daten haben.</p>
        <br>

        <!-- Weitere Abschnitte hier -->

        <h2 class="pp-h2">4. Plug-ins und Tools</h2>
        <h3 class="pp-h3">Google Fonts (lokale Einbindung)</h3>
        <p>Diese Website nutzt sogenannte Google Fonts, die von Google bereitgestellt werden, um eine einheitliche
            Darstellung von Schriftarten zu gewährleisten. Die Google Fonts sind lokal installiert, sodass keine
            Verbindung zu den Servern von Google hergestellt wird.</p>
        <p>Weitere Informationen zu Google Fonts finden Sie unter: <a href="https://developers.google.com/fonts/faq"
                target="_blank" rel="noopener noreferrer">https://developers.google.com/fonts/faq</a>. Die
            Datenschutzerklärung von Google können Sie hier einsehen: <a
                href="https://policies.google.com/privacy?hl=de" target="_blank"
                rel="noopener noreferrer">https://policies.google.com/privacy?hl=de</a>.</p>
    </div>
</main>