@import "../../../../mixins.scss";
@import "../../../../styles.scss";
@import "../chat/chat.component.scss";

html,
body {
  height: 100%;
}
.main-threadbar-class {
  width: 100%;
  min-width: 320px;
  background-color: $white;
  border-radius: 30px;

  display: flex;
  position: relative;
  height: 100%;

}

.thread-head-class {
  height: 88px;

  p {
    color: $purple2;
  }
}

.thread-answers-seperator-class {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;

  p {
    margin: 0px 0px 32px 16px;
    color: $light-purple;
    white-space: nowrap;
  }

  div {
    margin: 0px 16px 32px 0px;
    width: 60%;
    height: 1px;
    background-color: $light-purple;
  }
}

.thread-date-separator {
  display: flex;
  align-items: center;
  position: relative;

  height: 1px;
}

.thread-date-separator::before {
  content: "";
  position: absolute;

  left: 0;
  right: 0;
  height: 1px;
  background-color: $light-purple;
}

.hover-button-class2 {
  position: absolute;
  z-index: 11;
  top: 16px;
  right: 16px;
  svg {
    fill: #000000;
    stroke-width: 1;
  }

  svg path {
    transition: all ease-in-out 150ms;
  }
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: $bg-color;
  }

  &:hover svg path {
    fill: $purple2;
    stroke-width: 0.6;
    stroke: $purple2;
  }
}
