<main class="main-container-Legal">
	<!-- Logo -->
	<header class="show-mobile">
		<div class="logo">
			<img src="assets/logos/logo-DABubble.svg" alt="DABubble Logo" />
		</div>
	</header>
	<!-- Datenschutzinhalt -->
	<div class="legal-container">
		<button (click)="navigateToLogin()" aria-label="Zurück" class="goBackButton">
			<img src="assets/icons/arrow-left-black.svg" alt="Zurück" class="goBackIcon">
		</button>

		<main class="topHeadline">
			<h1>Impressum</h1>
			<p>Caroline Willers</p>
			<p>Rorupweg 8</p>
			<p>48161 Münster</p>
			<br>
			<p>Mike Schauber</p>
			<p>Edelmannsweg 62</p>
			<p>72116 Mössingen</p>
		</main>

		<section class="section-container">
			<h2>Contact</h2>
			<a href="mailto:carowillers@gmail.com">carowillers&#64;gmail.com</a>
			<a href="mailto:kontakt@mikeschauber.de">kontakt&#64;mikeschauber.de</a>

		</section>
	</div>
</main>