<main class="main-container-Legal">
	<!-- Logo -->
	<img src="/assets/logos/logo-DABubble.svg" alt="Logo DABubble" class="logoTopLeft">
	
    <!-- Datenschutzinhalt -->
	<div class="legal-container">
		<button (click)="navigateToLogin()" aria-label="Zurück" class="goBackButton">
			<img src="assets/icons/arrow-left-black.svg" alt="Zurück" class="goBackIcon">
		</button>

		<header class="topHeadline">
			<h1>Impressum</h1>
			<p>Caroline Willers</p>
			<p>Rorupweg 8</p>
			<p>48161 Münster</p>
		</header>

        <section>
		    <h2>Contact</h2>
            <p>carowillers&#64;gmail.com</p>
        </section>
    </div>
</main>
