<div class="channels-container-class">
	<!-- Header der Kanalliste -->
	<div class="channels-header-class">
	  <div class="main-elements">
		<!-- Toggle-Button -->
		<button
		  class="toggle-arrow-btn"
		  (click)="onToggleChannels()"
		  (mouseenter)="isArrowHovered = true"
		  (mouseleave)="isArrowHovered = false"
		>
		  <img
			[src]="isChannelsExpanded ? 'assets/icons/arrow-drop-down-purple.svg' : 'assets/icons/arrow-drop-down-black.svg'"
			[class.rotate]="!isChannelsExpanded"
			alt="Toggle Arrow"
		  />
		</button>
		<img src="assets/icons/workspace.svg" alt="Workspace Icon" />
		<h2>Channels</h2>
	  </div>
  
	  <!-- Add-Button für neuen Kanal -->
	  <div class="add-icon-container">
		<button (click)="onOpenCreateChannel()" class="add-channel-btn">
		  <img src="assets/icons/add-bold.svg" alt="Add Channel" />
		</button>
	  </div>
	</div>
  
	<!-- Liste der Kanäle -->
	<div class="channels-list-class">
	  <ul *ngIf="isChannelsExpanded" class="tree-list">
		<li *ngFor="let channel of channels">
		  <div class="channel-class">
			<span class="expand-icon">#</span>
			<span>{{ channel.name }}</span>
		  </div>
		</li>
	  </ul>
	</div>
	<div class="add-channel-class" (click)="onOpenCreateChannel()">
		<button class="add-channel-btn"><img src="/assets/icons/add-circle-black.svg"></button>
		<span>Channel hinzufügen</span>
	</div>
  </div>
  