<div class="display-profile-class" (click)="profileService.preventDefault($event)">
  <!-- Durchlaufen der Mitglieder-Liste -->
  <h3 class="category-title">Benutzer</h3>
  @for (member of (channelMembers$ | async); track $index) {
  <div class="result-item user" (click)="chatService.createString(member.displayName)">
    <!-- Profilbild -->
    <img [src]="member.avatarUrl" alt="Profilbild" class="result-avatar" />
    <!-- Benutzername -->
    <span class="result-text">{{ member.displayName }}</span>
  </div>
  }
</div>
