@import "../mixins.scss";

.loading-dialog {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100%;
  width: 100%;
  @include dFlex();
  backdrop-filter: blur(1px);
  mat-spinner {
    height: 100px;
    width: 100px;
  }
}


///Achtung ist nur Band aid für das Slide in der threadbar, sollte entfernt werden beim responsive styling
html, body {
  overflow-x: hidden;
}