<div class="main-container">
  <header>
    <div class="logo">
      <img src="assets/logos/logo-DABubble.svg" alt="DABubble Logo" />
    </div>
  </header>
  <div class="login-card">
    <a (mouseover)="authStyle.backArrowPurple()" (mouseleave)="authStyle.backArrowBlack()"
      (click)="authStyle.backArrowBlack()" [routerLink]="['/register']" class="back-arrow">
      <img [src]="authStyle.backArrowSvg" alt="arrow back" />
    </a>
    <h2>Wähle deinen Avatar</h2>
    <div class="avatar-container">
      <div class="picked-avatar">
        <img [src]="newAvatarUrl" alt="Choosen Avatar Img" />
      </div>
      <div class="avatar-choosing-container">
        <div class="name-and-span">
          <div class="name">
            <h3>{{authService.currentUserData.displayName}}</h3>
          </div>
          <div class="span">
            <span>Aus der Liste wählen</span>
          </div>
        </div>
        <div class="available-avatars">
          @for (path of avatarPaths; track $index; let i = $index) {
          <div class="img-container">
            <img [src]="path" alt="" (click)="changeSelectedPath(path)">
          </div>
          }
        </div>
        <div class="storage-container">
          <input type="file" #fileInput style="display:none;" (change)="onFileSelected($event)">
          <span>eigenes Bild verwenden</span>
          <button (click)='triggerFileInput()' class="storage-btn">Datei hochladen</button>
        </div>
      </div>
    </div>
    <div class="button-container">
      <button (click)="this.changeAvatarUrl()" [disabled]="this.cloudService.loading" class="next-btn">Weiter</button>
    </div>
  </div>
  <footer>
    <a [routerLink]="['/imprint']" class="footer-anker">Impressum</a>
    <a [routerLink]="['/privacy-policy']" class="footer-anker">Datenschutz</a>
  </footer>
</div>