<div class="main-container">
    <header>
        <div class="logo">
            <img src="assets/logos/logo.svg" alt="DABubble Logo" />
            <span>DABubble</span>
        </div>
    </header>
    <div class="login-card">
        <a (mouseover)="authStyle.backArrowPurple()" (mouseleave)="authStyle.backArrowBlack()"
            (click)="authStyle.backArrowBlack()" [routerLink]="['']" class="back-arrow">
            <img [src]="authStyle.backArrowSvg" alt="arrow back">
        </a>
        <h2>Passwort zurücksetzen</h2>
        <p>
            Bitte geben Sie Ihre E-Mail-Adresse ein.
        </p>
        <form>
            <div class="input-group">
                <label for="password"><i class="fas fa-lock"></i></label>
                <input (focus)="authStyle.focusPwInput()" (blur)="authStyle.blurPwInput('reset')" type="password"
                    id="password" [placeholder]="authStyle.placeholderPw" />
            </div>
            <div class="input-group">
                <label for="password"><i class="fas fa-lock"></i></label>
                <input (focus)="authStyle.focusPwConfirmInput()" (blur)="authStyle.blurPwConfirmInput()" type="password"
                    id="password" [placeholder]="authStyle.placeholderPwConfirm" />
            </div>
            <div class="button-container">
                <button type="submit" class="next-btn">Passwort ändern</button>
            </div>
        </form>

    </div>
    <footer>
        <a [routerLink]="['/imprint']" class="footer-anker">Impressum</a>
        <a [routerLink]="['/privacy-policy']" class="footer-anker">Datenschutz</a>
    </footer>
</div>