<div class="profile-overlay-class" id="profile-card-id" (click)="profileService.closePopup()">
  <div (click)="profileService.preventDefault($event)">
    @if (profileService.showProfile) {
    @if (!isEditing) {
    <app-display-profile *ngIf="!isEditing" (edit)="startEditing()">
    </app-display-profile>
    } @else { <app-edit-profile *ngIf="isEditing" (cancelEdit)="stopEditing()" (saveEdit)="stopEditing()">
    </app-edit-profile>}
    }

    @if (profileService.showLogout) {
    <app-logout-display></app-logout-display>
    }

  </div>



</div>