@import "../../../../mixins.scss";

.show-mobile {
  display: none !important;
}

.hide-mobile {
  display: flex !important;
}

.main-container {
  width: 100%;
  height: 100vh;
  @include dFlex();
  padding: 15px;
}

.display-profile-class {
  width: 100%;
  max-width: 500px;
  border: 2px solid $bg-color;
  border-radius: 30px;
  padding: 40px 30px;
  @include dFlex();
  background-color: white;
  z-index: 2;
  font-size: 18px;
  gap: 35px;
  z-index: 500;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
  position: relative;

  .profile-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    h2 {
      font-size: 1.5rem;
      font-weight: 700;
      margin: 0;
    }
    .hover-button-class2 {
      top: 0;
    }
    .close-button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 10px;
      border-radius: 50px;
      @include dFlex();
      transition: all 125ms ease-in-out;
      &:hover {
        background-color: $bg-color;
      }
      img {
        width: 16px;
        height: 16px;
      }
    }
  }

  .profile-image-class {
    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
      border: 6px solid transparent;
    }
  }

  .personal-info-class {
    width: 100%;
    @include dFlex($g: 20px, $ai: flex-start);
    .display-name-box-class {
      @include dFlex($fd: row, $jc: space-between);
      width: 100%;
      span {
        font-size: 32px;
        font-weight: 700;
      }

      .edit-link {
        color: #535af1;
        font-size: 18px;
        cursor: pointer;
        font-weight: 400;
        transition: transform 0.125s ease, color 0.125s ease;
        text-decoration: none;
        padding: 10px 15px;
        border: 1px solid transparent;
        border-radius: 50px;
        transition: all 125ms ease-in-out;
        &:hover {
          border-color: $text-gray;
        }
      }
    }

    .status-box {
      display: flex;
      align-items: center;
      font-size: 1rem;
      font-weight: 400;
      @include dFlex($fd: row, $g: 15px, $jc: flex-start);
      .status-indicator {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: gray;
      }

      .online {
        background-color: $online-green; // Gr端n f端r "Online"
      }

      .online-text {
        color: $online-green;
      }

      .away {
        background-color: $text-gray; // Grau f端r "Abwesend"
      }

      .away-text {
        color: $text-gray;
      }

      .offline {
        background-color: $error-rosa; // Rosa f端r Offline
      }

      .offline-text {
        color: $error-rosa;
      }
    }
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;

    .mail-class {
      @include dFlex($fd: row, $g: 20px, $jc: flex-start);

      img {
        width: 20px;
        height: 20px;
      }
      span {
        font-size: 20px;
        font-weight: 700;
      }
    }

    a {
      text-decoration: none;
      margin-left: 44px;
      margin-top: 10px;
      transition: all 125ms ease-in-out;
      padding: 0px;
      width: max-content;
      border-bottom: 1px solid transparent;
      transition: all 125ms ease-in-out;
    }
  }
}

.edit-mobile {
  svg {
    fill: #000000;
    stroke-width: 1;
  }

  svg path {
    transition: all ease-in-out 150ms;
  }
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all ease-in-out 150ms;

  &:hover {
    background-color: $bg-color;
  }

  &:hover svg path {
    fill: $purple2;
    stroke-width: 0.6;
    stroke: $purple2;
  }
}

.save-button {
  @include dFlex($fd: row, $g: 10px);
  background-color: $purple1;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 18px;
  transition: all 125ms ease-in-out;
  &:hover {
    background-color: $light-purple;
  }
}

@media (max-width: 950px) {
  .show-mobile {
    display: flex !important;
  }

  .hide-mobile {
    display: none !important;
  }

  .main-container {
    width: 100%;
    height: 100vh;
    @include dFlex();
    padding: 15px;
  }
  .display-profile-class {
    padding: 30px 20px;
    border-radius: 30px;
    width: 100%;
    @include dFlex();
    position: unset;
    background-color: white;
    z-index: 2;
    font-size: 18px;
    gap: 20px;
    z-index: 1001;
    h2 {
      font-size: 22px;
      letter-spacing: -1px;
    }
    .personal-info-class {
      .display-name-box-class {
        span {
          font-size: 24px;
          font-weight: 700;
        }
      }
    }

    .contact-info {
      img {
        width: 20px;
        height: 20px;
      }
      a {
        margin-left: 0px;
        margin-top: 10px;
      }
      .mail-class {
        span {
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .hover-button-class2 {
    right: -10px;
  }
}
