.popup-content-edit-channel {
  background: white;
  width: 600px;
  height: 520px;
  padding: 30px;
  border-radius: 30px;
  text-align: left;
  position: absolute;
  top: 20%;
  left: 30%;
  z-index: 1000;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  overflow: auto;

  @media (max-width: 1350px) { 
    position: absolute;
    top: 15%;
    left: 30%;
  }

  @media (max-width: 950px) {
    width: 100%;
    height: 100%;
    border-radius: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  h2 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 32px;
    margin-top: 0;
    margin-left: 10px;
  }
}

  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all ease-in-out 150ms;
    margin-right: 10px;

    svg {
      fill: #000000;
      stroke-width: 1;
    }

    svg path {
      transition: all ease-in-out 150ms;
    }

    &:hover {
      background-color: #eceefe;

      svg path {
        fill: #797ef3;
        stroke-width: 0.6;
        stroke: #797ef3;
      }
    }
  }

  .header {
    margin-top: 20px;
  
    .input-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      font-size: 18px;
      font-weight: 400;
      border: 1px solid #adb0d9;
      border-radius: 20px;
      color: gray;
      box-sizing: border-box;
      transition: border-color 0.3s ease;
  
      &:focus-within {
        border-color: #797ef3;
      }
  
      .label {
        font-size: 16px;
        font-weight: 600;
        margin-right: 20px;
        color: black;
      }
  
      .current-channel {
        font-size: 18px;
        color: black;
        margin-right: auto;
        margin-top: 20px;
      }
  
      .edit-btn {  
        background-color: white;
        cursor: pointer;
        display: flex;
        border: none;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 400;
        transition: font-weight 0.3s ease;
        color: #797ef3; 
        margin-right: 20px;
  
        &:hover {
          font-weight: 700;  
        }
  
        .svg-class {
          padding: 5px;
          border-radius: 50%;
          border: none;
          width: 36px;
          height: 36px;
          background-color: #eceefe;
          fill: black;  
          transition: transform 0.3s ease, fill 0.3s ease;
  
          &:hover {
            fill: #535af1; /* Farbwechsel beim Hover */
            transform: scale(1.1); /* Größerer Scale-Effekt */
          }
        }
      }
    }
  }
  
  .edit-mode {
    display: flex;
    flex-direction: column;
  
    .edit-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 10px 10px;
  
      .label {
        font-size: 16px;
        font-weight: 600;
      }
    }
  
    .edit-btn {
      width: 100px;
      height: 40px;
      border: none;
      background-color: white;
      border-radius: 50%;
      cursor: pointer;
      font-size: 16px;
      font-weight: 400;
      color: #797ef3;
      transition: font-weight 0.3s ease, transform 0.3s ease;
  
      &:hover {
        font-weight: 700;
        transform: scale(1.05); /* Leichter Hover-Effekt */
      }
  
      .svg-class {
        fill: black;
        transition: transform 0.3s ease, fill 0.3s ease;
  
        &:hover {
          fill: #535af1;
          transform: scale(1.2); /* Größerer Effekt bei Hover */
        }
      }
    }
  }

      .input-field {
        display: flex;
        align-items: center;
        border: 1px solid #adb0d9;
        border-radius: 30px;
        padding: 15px;
        font-size: 18px;
        color: gray;
        box-sizing: border-box;

        input {
          border: none;
          flex-grow: 1;
          font-size: 18px;
          font-weight: 400;
          color: black;
          outline: none;

          &:focus {
            outline: none;
          }
        }

        &:focus-within {
          border-color: #797ef3;
        }

        .hash-symbol {
          font-size: 18px;
          font-weight: bold;
          color: gray;
          margin-right: 5px;
        }

        .channel-input {
          border: none;
          flex-grow: 1;
          font-size: 18px;
          font-weight: 400;
          color: gray;
          outline: none;

          &:focus {
            outline: none;
          }
        }
      }
    

  .description-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid #adb0d9;
    border-radius: 20px;
    color: gray;
    box-sizing: border-box;
    transition: border-color 0.3s ease;

    &:focus-within {
      border-color: #797ef3;
    }

    .edit-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      margin-left: 10px;

      .label {
        font-size: 16px;
        font-weight: 600;
        color: black;
      }

      .edit-btn {  
        background-color: white;
        cursor: pointer;
        display: flex;
        border: none;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 400;
        transition: font-weight 0.3s ease;
        color: #797ef3;  
        margin-right: 20px;
  
        &:hover {
          font-weight: 700;  
        }
  
        .svg-class {
          padding: 5px;
          border-radius: 50%;
          border: none;
          width: 36px;
          height: 36px;
          background-color: #eceefe;
          fill: black;  
          transition: transform 0.3s ease, fill 0.3s ease;
  
          &:hover {
            fill: #535af1;  
            transform: scale(1.1);  
          }
        }
      }
    }

    .description {
      font-size: 18px;
      color: black;
      line-height: 1.5;
      width: 100%;
      margin-left: 10px;
    }

    .divider {
      width: 100%;
      border: none;
      height: 1px;
      background-color: gray;
      margin: 10px 0;
    }
  }

  .edit-createdBy {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
 
    .label {
    font-size: 16px;
    font-weight: 600;
    color: black;
    margin-left: 5px;
    }
  
    span {
    font-size: 24px;
    color: #797ef3;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 5px;
    }
  }


  .button-container {
    margin-top: 20px;
    margin-right: 20px;
    text-align: right;

    .leave-button {
      padding: 10px 20px;
      font-size: 16px;
      background-color: #444df2;
      color: white;
      border: none;
      border-radius: 20px;
      cursor: pointer;

      &:hover { 
        background-color: #797ef3;
      }
    }
  }

  .edit-members-popup {
    width: 100%;
    min-height: 350px;
    margin-top: 20px;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    padding: 15px;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid #adb0d9;
    border-radius: 30px;
    color: gray;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  
    h2 {
      color: black;
    }
  }

    .add-new-member {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;   
      padding: 10px;
      border-radius: 30px;
      background-color: white;
      color: black;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
      margin-left: 20px;
      margin-top: 30px;
  
      &:hover {
        background-color: #eceefe;
        color: #535af1;
      }
  
      .mobile-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #eceefe;
        transition: transform 0.2s ease-in-out;
  
        svg {
          fill: #535af1;
        }
  
        &:hover {
          transform: scale(1.1); /* Vergrößert den Button */
        }
      }
  
      div {
        font-size: 14px;
        font-weight: 600;
        color: #535af1;
      }
    }
  
  .member-list {
      width: 100%;
      margin-top: 20px;  
      max-height: 250px; 
      overflow-y: auto; 
      padding: 10px; 
      margin: 10px 0; 
      border: unset; 
    
      scrollbar-width: thin; /* Für Firefox */
      scrollbar-color: #888 #eaeaea;
    
      &::-webkit-scrollbar {
        width: 8px;
      }
    
      &::-webkit-scrollbar-track {
        background: #eaeaea;
        border-radius: 10px;
      }
    
      &::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 10px;
      }
    
      &::-webkit-scrollbar-thumb:hover {
        background-color: #555; /* Dunklere Farbe beim Hover */
      }
    
  
    li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 30px;
      padding: 10px;
      border-radius: 30px;
      transition: background-color 0.3s ease-in-out;
  
      &:hover {
        background-color: #eceefe;
      }
  
      .avatar-status {
        position: relative;
        display: flex;
        align-items: center;
  
        .avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
  
        .status-indicator {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          border: 1px solid white;
          background-color: gray;
  
          &.online {
            background-color: #4caf50;
          }
  
          &.away {
            background-color: #ffc107;
          }
  
          &.offline {
            background-color: #f44336;
          }
        }
      }
  
      .member-info {
        margin-left: 15px;
  
        .member-name {
          font-size: 16px;
          color: #000;
        }
      }
    }
  }
  

.mobile-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: #eceefe;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;

  svg {
    transition: transform 0.1s ease, fill 0.1s ease;
    fill: #000;
  }

  &:hover svg {
    transform: scale(1.1);
    fill: #535af1;
  }
}

@media (max-width: 950px) {
.popup-overlay {
  display: none; 
}
.edit-header {
  margin-right: 10px;
}
 
.member-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-height: 250px;  
  min-height: 50px;
  overflow-y: auto;  
  padding: 10px;
  border: 1px solid #adb0d9;  
  border-radius: 30px;  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
  background-color: #fff;  

  /* Scrollbar-Stil */
  scrollbar-width: thin; /* Für Firefox */
  scrollbar-color: #888 #eaeaea;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #eaeaea;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #eceefe;
      color: #535af1;
    }

    .add-new-member {
      display: flex;
      align-items: center;
      margin-left: 20px;
      gap: 20px;
      border-radius: 30px;
      padding: 10px;

    }
    .avatar-status {
      position: relative;
      width: 40px;
      height: 40px;

      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: block;
      }

      .status-indicator {
        position: absolute;
        bottom: 1px;
        right: 1px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid white; /* Weißer Rahmen */
        background-color: gray;

        &.online {
          background-color: #4caf50;
        }

        &.away {
          background-color: #ffc107;
        }

        &.offline {
          background-color: #f44336;
        }
      }
    }

    .member-info {
      flex-grow: 1;
      margin-left: 15px;

      .member-name {
        font-size: 16px;
        font-weight: 400;
        color: #000;
      }
    }
  }
}
}

// Second Popup Add Members
.popup-container-add-members {
	background-color: white; 
	text-align: left;
	position: absolute;
	bottom: 0;
  left: 0;
	right: 0;
  width: 100%;
  max-height: 70vh;
  height: auto;
  overflow-y: auto;
  border-radius: 30px 30px 0 0;
  padding: 100px 30px 50px 30px;
  transition: height 0.3s ease-in-out;
	z-index: 1000; 
	display: flex;
	flex-direction: column;

  .rectangle-mobile {
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 6px;
    background-color: #d9d9d9;
    border-radius: 23px;
    margin-bottom: 40px;
  }

	h2 {
		font-size: 24px;
		font-weight: 700;
		letter-spacing: 1px;
		line-height: 32px;
		margin: 0 0 10px 10px;
	}

	p {
		margin: 10px 0;
		font-size: 16px;
		font-weight: 400;
		color: #797ef3;
	}

	.close-btn {
		position: absolute;
		top: 95px;
		right: 35px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		transition: background-color 150ms ease-in-out;

		svg {
			fill: #000;
			stroke-width: 1;

			path {
				transition: fill 150ms ease-in-out, stroke-width 150ms ease-in-out;
			}
		}

		&:hover {
			background-color: #eceefe;

			svg path {
				fill: #797ef3;
				stroke-width: 0.6;
				stroke: #797ef3;
			}
		}
	}
}


.user-input-container {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-top: 20px;
  overflow-y: auto;

	input {
		width: 100%;
		padding: 15px;
		font-size: 16px;
		border: 1px solid #adb0d9;
		border-radius: 30px;
		color: #686868;
		transition: border-color 0.3s ease;

		&:focus {
			border-color: gray;
			outline: none;
		}

		&::placeholder {
			color: #b0b0b0;
		}
	}
}

/* Container for Dropdown */
.dropdown-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-height: 500px;
	overflow-y: auto;
  padding: 10px;
	flex: 1;

  .user-info-class {
		color: red;
		padding: 10px;
		font-weight: 700;
	}
}

/* User List Styling */
.user-list {
	flex: 1;
	overflow-y: auto;
	padding: 10px 20px;
	margin-top: -10px;
	list-style: none;
	border: 1px solid gray;
	border-radius: 30px;
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.12);
	background-color: #fff;
	width: 450px;
	z-index: 10;
	max-height: 350px;

	li {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 15px;
		margin-bottom: 10px;
		border-radius: 8px;
		cursor: pointer;
		font-size: 16px;
		font-weight: 400;
		transition: background-color 0.3s ease-in-out;

		&:hover {
			background-color: #eceefe;
			border-radius: 40px;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
		}

		.user-details {
			display: flex;
			align-items: center;

			.user-avatar {
				width: 30px;
				height: 30px;
				border-radius: 50%;
				margin-right: 10px;
				object-fit: cover; /* Ensure the image fits properly */
			}

			span {
				font-size: 16px;
				font-weight: 400;
				color: #333; /* Slightly darker for better readability */
			}
		}

		.checkbox-container {
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}

		input[type='checkbox'] {
			transform: scale(1.2);
			cursor: pointer;
			margin-right: 10px;
		}
	}
}

/* Custom Scrollbar Styling */
.user-list { 
  scrollbar-width: thin; /* Für Firefox */
  scrollbar-color: #888 #eaeaea;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #eaeaea;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}


.button-container {
	display: flex;
	justify-content: flex-end;
	margin-top: 30px;

	.button-primary {
		width: 120px;
		height: 50px;
		background-color: #444df2;
		color: white;
		border: none;
		border-radius: 25px;
		cursor: pointer;
		font-size: 18px;
		font-weight: 700;
		transition: background-color 0.3s ease;

		&:hover {
			background-color: #797ef3;
		}

		&:disabled {
			background-color: gray;
			cursor: not-allowed;
		}
	}
}

.mobile-view { 
  display: none; 
} 

.desktop-view { 
  display: flex; 
}

@media (max-width: 950px) {
  .mobile-view { 
    display: flex; 
  } 

  .desktop-view { 
    display: none; 
  }
}

@media (max-width: 550px) {
  .popup-content-edit-channel {
    padding: 15px;
  }

  h2 {
    font-size: 20px !important;
  }

  .edit-btn {
    margin-right: 5px !important;
  }

  .user-list {
    width: 250px;
  }

  .button-container {
    justify-content: center;
  }

  .close-btn { 
    top: 15px;
    right: 15px;
  }
}
