.popup-content-edit-channel {
  background: white;
  width: 800px;
  padding: 30px;
  border-radius: 0 30px 30px 30px;
  text-align: left;
  position: absolute;
  top: 17%;
  left: 33%;
  z-index: 1000;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

  @media (max-width: 950px) {
    width: 100%;
    height: 100%;
    border-radius: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  h2 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 32px;
    margin-top: 0;
    margin-left: 10px;
  }

  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all ease-in-out 150ms;

    svg {
      fill: #000000;
      stroke-width: 1;
    }

    svg path {
      transition: all ease-in-out 150ms;
    }

    &:hover {
      background-color: #eceefe;

      svg path {
        fill: #797ef3;
        stroke-width: 0.6;
        stroke: #797ef3;
      }
    }
  }

  .header {
    margin-top: 20px;

    .input-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      font-size: 18px;
      font-weight: 400;
      border: 1px solid #adb0d9;
      border-radius: 20px;
      color: gray;
      box-sizing: border-box;
      transition: border-color 0.3s ease;

      &:focus-within {
        border-color: #797ef3;
      }

      .label {
        font-size: 16px;
        font-weight: 600;
        margin-right: 20px;
        color: black;
      }

      .current-channel {
        font-size: 18px;
        color: black;
        margin-right: auto;
        margin-top: 20px;
      }

      .edit-btn {
        width: 100px;
        height: 40px;
        border: none;
        background-color: white;
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
        color: #797ef3;
        transition: font-weight 0.3s ease;
        margin-top: -30px;

        &:hover {
          font-weight: 700;
        }
      }
    }

    .edit-mode {
      display: flex;
      flex-direction: column;

      .edit-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        margin-left: 10px;

        .label {
          font-size: 16px;
          font-weight: 600;
        }

        .edit-btn {
          width: 100px;
          height: 40px;
          border: none;
          background-color: white;
          cursor: pointer;
          font-size: 16px;
          font-weight: 400;
          color: #797ef3;
          transition: font-weight 0.3s ease; 
  
          &:hover {
            font-weight: 700;
          }
        }
      }

      .input-field {
        display: flex;
        align-items: center;
        border: 1px solid #adb0d9;
        border-radius: 30px;
        padding: 15px;
        font-size: 18px;
        color: gray;
        box-sizing: border-box;

        input {
          border: none;
          flex-grow: 1;
          font-size: 18px;
          font-weight: 400;
          color: black;
          outline: none;

          &:focus {
            outline: none;
          }
        }

        &:focus-within {
          border-color: #797ef3;
        }

        .hash-symbol {
          font-size: 18px;
          font-weight: bold;
          color: gray;
          margin-right: 5px;
        }

        .channel-input {
          border: none;
          flex-grow: 1;
          font-size: 18px;
          font-weight: 400;
          color: gray;
          outline: none;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  .description-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid #adb0d9;
    border-radius: 20px;
    color: gray;
    box-sizing: border-box;
    transition: border-color 0.3s ease;

    &:focus-within {
      border-color: #797ef3;
    }

    .edit-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      margin-left: 10px;

      .label {
        font-size: 16px;
        font-weight: 600;
        color: black;
      }

      .edit-btn {
        width: 100px;
        height: 40px;
        border: none;
        background-color: white;
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
        color: #797ef3;
        transition: font-weight 0.3s ease;

        &:hover {
          font-weight: 700;
        }
      }
    }

    .description {
      font-size: 18px;
      color: black;
      line-height: 1.5;
      width: 100%;
      margin-left: 10px;
    }

    .divider {
      width: 100%;
      border: none;
      height: 1px;
      background-color: gray;
      margin: 10px 0;
    }
  }

  .edit-createdBy {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
 
    .label {
    font-size: 16px;
    font-weight: 600;
    color: black;
    margin-left: 5px;
    }
  
    .createdBy-name {
    font-size: 24px;
    color: #797ef3;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 5px;
    }
  }

  .button-container {
    margin-top: 20px;
    text-align: right;

    .leave-button {
      padding: 10px 20px;
      font-size: 14px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 20px;
      cursor: pointer;

      &:hover { 
        background-color: #797ef3;
      }
    }
  }
}
