<div class="edit-profile-class">
  <div class="edit-profile-header">
    <h2>Dein Profil bearbeiten</h2>
    <button class="close-button" (mouseover)="changeCloseButton('assets/icons/close-hover.svg')"
      (mouseleave)="changeCloseButton('assets/icons/close.svg')" (click)="profileService.closePopup()">
      <img src="assets/icons/close.svg" alt="Abbrechen" />
    </button>
  </div>

  <img [src]="profileService.currentUserAvatar" alt="Profilbild" class="profile-img" />

  <div class="form-container">
    <div class="form-group">
      <label class="form-label" for="full-name">
        <img src="assets/icons/person-bold.svg" alt="User Icon" class="icon" />
        Vollständiger Name
      </label>
      <input id="full-name" type="text" [value]="profileService.currentUserName" placeholder="Vollständiger Name"
        class="form-input" />

      <div class="form-group">
        <label class="form-label" for="email">
          <img src="assets/icons/mail-bold.svg" alt="Mail Icon" class="icon" />
          E-Mail-Adresse
        </label>
        <input id="email" type="email" [value]="profileService.currentUserEmail" placeholder="E-Mail-Adresse"
          class="form-input" />
      </div>
    </div>
  </div>
  <div class="form-actions">
    <button class="cancel-button" (click)="profileService.toggleProfileDisplay()">
      Abbrechen
    </button>
    <button class="save-button">Speichern</button>
  </div>
</div>