<div class="edit-profile-class">
	<div class="edit-profile-header">
		<h2>Dein Profil bearbeiten</h2>
		<button class="close-btn" (click)="cancelEdit.emit()">
			<img src="assets/icons/close.svg" alt="Abbrechen">
		</button>
	</div>

	<div class="form-container">
    <img src="assets/basic-avatars/avatar1.svg" alt="Profilbild" class="profile-img">
		<div class="form-group">
      <div class="form-content">
      <img src="assets/icons/account_circle_profile.svg" alt="Mail Icon" class="mail-icon">
			<label for="displayName">Vollständiger Name</label>
    </div>
			<input id="displayName" type="text" [(ngModel)]="formData.displayName"/>
		</div>

		<div class="form-group">
      <div class="form-content">
      <img src="assets/icons/mail-black.svg" alt="Mail Icon" class="mail-icon">
			<label for="email">E-Mail-Adresse</label>
      </div>
			<input id="email" type="email" [(ngModel)]="formData.email"/>
		</div>
	</div>

	<div class="form-actions">
		<button class="cancel-button" (click)="cancelEdit.emit()">Abbrechen</button>
    <button class="save-button" (click)="save()">Speichern</button>
	</div>
</div>
