@import "../../../../mixins.scss";

.error-message {
  position: absolute;
  top: 100%;
  left: 0;
  color: $error-rosa;
  font-size: 14px;
}

.edit-profile-class {
  width: 100%;
  max-width: 500px;
  border: 2px solid $bg-color;
  border-radius: 30px 0 30px 30px;
  padding: 40px 30px;
  @include dFlex($g: 45px);
  background-color: white;
  position: absolute;
  top: 50px;
  right: 80px;
  z-index: 2;
  font-size: 18px;
  gap: 45px;
  z-index: 1001;
}

.edit-profile-header {
  width: 100%;
  position: relative;
  @include dFlex($jc: space-between, $fd: row);
  h2 {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 32px;
  }
  .hover-button-class2 {
    top: 0;
  }
}
form {
  width: 100%;
  @include dFlex($g: 20px);
}

.form-container {
  width: 100%;
  @include dFlex($g: 20px);
  position: relative;
  .form-group {
    width: 100%;
    @include dFlex($g: 10px);
    position: relative;

    img {
      height: 25px;
      width: 25px;
    }

    label {
      width: 100%;
      @include dFlex($g: 20px, $jc: flex-start, $fd: row);
      font-size: 20px;
      font-weight: 700;
      color: black;
    }

    input {
      @include dFlex();
      width: 100%;
      padding: 15px 20px;
      font-size: 18px;
      border: 1px solid $light-purple;
      border-radius: 30px;
      transition: all 125ms ease-in-out;

      &:focus {
        border-color: $purple1 !important;
        outline: none;
        transform: scale(1.0115);
      }
    }
  }
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 6px solid transparent;
  cursor: pointer;
  transition: all 125ms ease-in-out;
  &:hover {
    border-color: #eceefe;
  }
}

.form-actions {
  @include dFlex($g: 32px, $fd: row);
  width: 100%;
  font-size: 18px;
  .cancel-button {
    background-color: transparent;
    color: #535af1;
    border-radius: 50px;
    padding: 12px 25px;
    border: 1px solid $purple1;
    font-size: 18px;
    cursor: pointer;
    transition: all 125ms ease-in-out;
    &:hover {
      background-color: $purple1;
      color: white;
    }
  }

  .save-button {
    background-color: $purple1;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
    transition: all 125ms ease-in-out;
    &:hover {
      background-color: $light-purple;
    }
  }
}

@media (max-width: 950px) {
  .edit-profile-class {
    padding: 30px 20px;
    @include dFlex();
    background-color: white;
    position: unset;
    z-index: 2;
    font-size: 16px;
    gap: 20px;
    z-index: 1001;
    width: 100%;
    border-radius: 30px;
    h2 {
      font-size: 22px;
      letter-spacing: -1px;
    }
  }
  .main-container {
    width: 100%;
    height: 100vh;
    @include dFlex();
    padding: 15px;
  }
  .form-actions {
    @include dFlex($g: 22px, $fd: row);

    .cancel-button {
      padding: 8px 15px;
    }

    .save-button {
      padding: 8px 15px;
    }
  }

  .form-container {
    .form-group {
      img {
        height: 20px;
        width: 20px;
      }

      label {
        font-size: 18px;
      }

      input {
        padding: 10px 15px;
        font-size: 16px;
      }
    }
  }
}
@media (max-width: 400px) {
  .hover-button-class2 {
    right: -10px;
  }
}

