@if (chatService.emojiPickerChat || chatService.emojiPickerThreadChat) {
<emoji-picker class="picker" (selectedEmoji)="onEmojiSelectedChat($event)" width="230px" height="350px"
    [showCategories]="true" selectedCategory="smileys and people" categoriesPosition="bottom">
</emoji-picker>
} @else if (chatService.emojiPickerReactionChat || chatService.emojiPickerReactionThread) {
<emoji-picker class="picker" (selectedEmoji)="onEmojiSelectedReaction($event)" width="230px" height="350px"
    [showCategories]="true" selectedCategory="smileys and people" categoriesPosition="bottom">
</emoji-picker>
}