$black: #000000;
$white: white;
$text-gray: #686868;
$bg-color: #eceefe;
$light-purple: #adb0d9;
$purple1: #444df2;
$purple2: #797ef3;
$purple3: #535af1;
$purple-bg-reaction: #444df2;
$purple-bg-message: #797ef3;
$purple-text: #535af1;
$online-green: #92c83e;
$error-rosa: #ed1e79;

// Diese Mixin Funktion ergibt standartmäßig immer eine Display Flex anornung von Column in der alles zentriert ist:
// In den Parametern können dann verschiedene werte verändert werden.

@mixin dFlex($jc: center, $ai: center, $fd: column, $g: 0px) {
  display: flex;            //      display: flex;
  justify-content: $jc;     //      flex-direction: column;
  align-items: $ai;         //      align-items: center;
  flex-direction: $fd;      //      justify-content: center;
  gap: $g;                  //      gap: 0px;
}


.close-btn {
  position: absolute;
  top: 10px;
  right: 0; 
  transition: color 0.3s ease-in-out; 
  background-color: white;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; 
  border-radius: 50%;  
  width: 30px; 
  height: 30px; 
  padding: 5px;

  
  .close-btn::after {
    content: '';
    position: absolute; 
    background-color: transparent; 
    z-index: 0; 
  }

  &:hover {
    cursor: pointer;
    background-color: #eceefe;  
    content: url('/assets/icons/close-hover.svg'); 
  }
}


.btn-primary {
  width: 164px;
  height: 49px;
  background-color: $purple-bg-reaction;
  color: $white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &:hover {
    background-color: $purple2;
  }
}