@import "../src/mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito";
  font-weight: 400;
}

body {
  font-family: "Nunito";
  font-weight: 400;
}


////Achtung: Overflow hidden ist hier notwendig für die SlideIn Animation der Thread Bar, beim responsive müssten wir das evtl. ausklammern, damit man potentielle overflow erkennt.
html, body {
  overflow-x: hidden;
}

.d-none {
  display: none;
}

@font-face {
  font-family: "Nunito";
  font-weight: 400;
  font-style: normal;
  src: url("assets/fonts/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-weight: 500;
  font-style: normal;
  src: url("assets/fonts/Nunito-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-weight: 600;
  font-style: normal;
  src: url("assets/fonts/Nunito-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-weight: 700;
  font-style: normal;
  src: url("assets/fonts/Nunito-Bold.ttf") format("truetype");
}
