@import "../src/mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito";
  font-weight: 400;
}

body {
  font-family: "Nunito";
  font-weight: 400;
  background-color: $bg-color;
}

////Achtung: Overflow hidden ist hier notwendig für die SlideIn Animation der Thread Bar, beim responsive müssten wir das evtl. ausklammern, damit man potentielle overflow erkennt.
html,
body {
  overflow-x: hidden;
}

.d-none {
  display: none;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  transition: color 0.3s ease-in-out;
  background-color: white;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 5px;
  transition: all 125ms ease-in-out;

  .close-btn::after {
    content: "";
    position: absolute;
    background-color: transparent;
    z-index: 0;
  }

  &:hover {
    cursor: pointer;
    background-color: #eceefe;
    content: url("/assets/icons/close-hover.svg");
  }
}

.btn-primary {
  width: 164px;
  height: 49px;
  background-color: $purple-bg-reaction;
  color: $white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &:hover {
    background-color: $purple2;
  }
}

@font-face {
  font-family: "Nunito";
  font-weight: 400;
  font-style: normal;
  src: url("assets/fonts/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-weight: 500;
  font-style: normal;
  src: url("assets/fonts/Nunito-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-weight: 600;
  font-style: normal;
  src: url("assets/fonts/Nunito-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-weight: 700;
  font-style: normal;
  src: url("assets/fonts/Nunito-Bold.ttf") format("truetype");
}
