@import "../../../../mixins.scss";

.display-profile-class {
  width: 100%;
  max-width: 282px;
  border-radius: 30px 0 30px 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 2;
  font-size: 18px;
  font-weight: normal;
  gap: 10px;
  z-index: 9999;
  span {
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    transition: all 125ms ease-in-out;
    padding: 10px 70px;
    border-radius: 100px;
    &:hover {
      background-color: $bg-color;
      color: $purple1;
    }
  }
}

@media (max-width: 655px) {
  .main-container {
    width: 100%;
    padding: 20px;
    @include dFlex($ai: flex-end);
    .display-profile-class {
      width: 100%;
      border-radius: 30px 0 30px 30px;
      @include dFlex();
      background-color: white;
      position: relative;
      top: 0px;
      right: 0px;
      gap: 10px;
      z-index: 2;
      font-size: 18px;
      z-index: 1001;
    }
  }


}
