<div class="main-container mobile-view" [ngClass]="{'switch-keyframe': profileService.closingAnimation}"
    (click)="this.profileService.closePopup()">
    <div class="display-profile-class" (click)="this.profileService.preventDefault($event)"
        (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)" (touchend)="onTouchEnd()">
        <div class="seperator"></div>
        <div class="menu">
            <span (click)="profileService.toggleProfileDisplay()">Profil</span>
            <span (click)="authService.logoutCurrentUser()">Logout</span>
        </div>
    </div>
</div>

<div class="main-container desktop-view" (click)="this.profileService.closePopup()">
    <div class="display-profile-class" (click)="this.profileService.preventDefault($event)">
        <div class="seperator"></div>
        <div class="menu">
            <span (click)="profileService.toggleProfileDisplay()">Profil</span>
            <span (click)="authService.logoutCurrentUser()">Logout</span>
        </div>
    </div>
</div>