@import "../../../../mixins.scss";

.mobile-view {
  display: none;
}

.desktop-view {
  display: flex;
}

.display-profile-class {
  width: 100%;
  max-width: 282px;
  border: 2px solid $bg-color;
  border-radius: 30px 0 30px 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 2;
  font-size: 18px;
  font-weight: normal;
  gap: 10px;
  z-index: 9999;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);

  .menu {
    @include dFlex($g: 10px);
    span {
      cursor: pointer;
      font-size: 20px;
      font-weight: 500;
      transition: all 125ms ease-in-out;
      padding: 10px 70px;
      border-radius: 100px;
      &:hover {
        background-color: $bg-color;
        color: $purple1;
      }
    }
  }
}

.seperator {
  display: none;
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.switch-keyframe {
  animation: slideDown 0.3s ease-in-out forwards; // Animiert das Wandern nach unten
}


@media (max-width: 950px) {

  .mobile-view {
    display: flex;
  }
  
  .desktop-view {
    display: none;
  }

  .main-container {
    height: 100vh;
    position: relative;
  }
  .display-profile-class {
    padding: 30px 20px;
    max-width: 100%;
    height: 210px;
    border-radius: 30px 30px 0px 0px;
    @include dFlex($g: 25px, $jc: center);
    background-color: white;
    position: absolute;
    top: auto;
    bottom: 0px;
    right: 0px;
    z-index: 2;
    font-size: 18px;
    z-index: 1001;
  }

  .seperator {
    @include dFlex();
    height: 6px;
    width: 62px;
    background-color: #d9d9d9;
    border-radius: 30px;
  }
}

