<div class="main-chat-div">

    <div class="channel-head-class">
        <div class="head-name-class">

            <img src="../../../../assets/hashtag.svg" alt="">
            {{ currentChannel.name }}
            <img src="../../../../assets/keyboard_arrow_down.svg" alt="">
            
        </div>

        <div class="avatars-and-add-users-class">

            <div class="head-avatars-class">
                @for (user of channelMembers; track user.userId) {
                    <img [src]="user.avatarUrl" alt="{{ user.displayName }}">
                  }
                  <p>{{channelMembers.length}}</p>
            </div>
    
           <div class="add-avatar-button-class">
    
            
           </div>

        </div>

        

    </div>

</div>
