.main-chat-div{
    background-color: white;
    border-radius: 30px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    position: relative;

}

.channel-head-class{
    // width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 45px;
    
}

.channel-head-class::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8px; 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}

.head-name-class {
    cursor: pointer;
    display: flex;            
    align-items: center;      
    gap: 10px;       
    padding:  12px 16px;
    border-radius: 50px 50px 50px 50px;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: #eceefe;
        }
}

.head-avatars-class {
    cursor: pointer;
    padding:  4px 8px;
    display: flex;
    align-items: center;
    gap: 8px;

    > img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid white; /* Optional: adds a white border to make the overlap clearer */
        position: relative;
        z-index: auto;
    }

    /* Apply left margin only to images except the first child */
    > img:not(:first-child) {
        margin-left: -12px; /* Adjust the value for the desired overlap amount */
    }

    > p {
        margin: 0;
        padding: 0px 2px;
        font-weight: 500;
    }

    &:hover {
        background-color: #eceefe;
        border-radius: 50px 50px 50px 50px;

        > p {
            color: #535af1;
        }
    }
}


.add-avatar-button-class{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: #eceefe;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    >svg {
        transition: transform 0.1s ease, fill 0.1s ease;
   
    }

    &:hover{
        >svg{
            transform: scale(1.1);
            fill: #535af1; /* Change to purple on hover */
        }
    }
    
}

.avatars-and-add-users-class{
    display: flex;
    align-items: center;
    gap: 8px;
}






.chat-date-separator {
    display: flex;
    align-items: center;
    position: relative;
    margin: 1rem 0;
  }
  
  .chat-date-separator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #B2B5DB; /* Separator line color */
  }
  
  .date-container {
    padding: 0.25rem 0.5rem;
    background-color: #ffffff; /* Background color of date container */
    border-radius: 20px;
    font-size: 0.875rem;
    font-weight: 500;
    color: #666666; /* Text color */
    position: relative;
    z-index: 1;
    margin: 0 auto;
    border: 1px solid #B2B5DB;
  }