@import '../../../../mixins.scss';

html, body{
    height: 100%;
}

.main-chat-div {
    background-color: $white;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    overflow-y: auto;
}

.channel-head-class {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 24px;
}

.channel-head-class::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}

.head-name-class {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 16px;
    border-radius: 50px;
    transition: background-color 0.2s ease;

    svg {
        transition: transform 0.1s ease, fill 0.1s ease;
        fill: #000;
    }

    &:hover {
        background-color: $bg-color;
        color: $purple3;
    }

    &:hover svg {
        fill: $purple3;
    }
}

.head-avatars-class {
    cursor: pointer;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    gap: 8px;

    > img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid $white;
        position: relative;
    }

    > img:not(:first-child) {
        margin-left: -20px;
    }

    > p {
        margin: 0;
        padding: 0px 2px;
        font-weight: 500;
    }

    &:hover {
        background-color: $bg-color;
        border-radius: 50px;
        > p {
            color: $purple3;
        }
    }
}

.add-avatar-button-class {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid $white;
    background-color: $bg-color;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        transition: transform 0.1s ease, fill 0.1s ease;
        fill: #000;
    }

    &:hover svg {
        transform: scale(1.1);
        fill: $purple3;
    }
}

.avatars-and-add-users-class {
    display: flex;
    align-items: center;
    gap: 8px;
}

.chat-date-separator {
    display: flex;
    align-items: center;
    position: relative;
    top: -8px;
    height:1px;
}

.chat-date-separator::before {
    content: '';
    position: absolute;
    // top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: $light-purple;
}

.date-container {
    padding: 0.25rem 0.5rem;
    background-color: $white;
    border-radius: 20px;
    font-size: 0.875rem;
    font-weight: 500;
    color: #666666;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    border: 1px solid $light-purple;
}

.single-message-main-class {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    position: relative;
    top: 8px;

    &:hover{
        background-color: $bg-color;
    }

}

.single-message-main-class:nth-of-type(even) .align-left-right-parent-class {
    justify-content: flex-start; /* Aligns content to the left */
    
}

.single-message-main-class:nth-of-type(odd) .align-left-right-parent-class {
    justify-content: flex-start; /* Aligns content to the right */
    flex-direction: row-reverse;
}



.single-message-main-class:nth-of-type(even) .messages-text-div-class{
    align-items: flex-start; /* Aligns content to the left */
    
}

.single-message-main-class:nth-of-type(odd) .messages-text-div-class{
    align-items: flex-end; /* Aligns content to the right */
   
}


.single-message-main-class:nth-of-type(odd) .name-posted-timestamp{
    flex-direction: row-reverse;
    padding: 4px 24px 0px 0px ;
}

.single-message-main-class:nth-of-type(even) .name-posted-timestamp{
   
    padding: 4px 0px 0px 24px;
}


.single-message-main-class:nth-of-type(odd) .message-content-class{
    
    margin: 0px 24px 0px 0px;
    background-color: $purple2;
    color: white;
    border-radius: 24px 0px 24px 24px;
   
}

.single-message-main-class:nth-of-type(even) .message-content-class{
   
    margin: 0px 24px 0px 24px;
    background-color: $bg-color;
    border-radius: 0px 24px 24px 24px;
}

.message-content-class{
    padding: 12px;
}


.img-messages-div {
    display: flex;
  
    
}

.align-left-right-parent-class {
    padding: 16px 0px;
    display: flex;
    width: 100%;
}



.avatar-div-class img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.messages-text-div-class {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.name-posted-timestamp {
 
    display: flex;
    align-items: center;
    gap: 16px;

    > p:first-child {
        font-weight: 600;
    }
    > p:nth-child(2) {
        font-size: 14px;
    }
}

.reactions-div-class{
    margin: 0px 0px 0px 24px;
    display: flex;
    gap: 8px;
}

.single-reaction-div-class{
    border-radius: 24px;
    padding: 2px;
    border: 1px solid $light-purple;
}


.mobile-head-avatars-class {
    display: none;
}

@media only screen and (max-width: 650px) {
    .channel-head-class {
        padding: 12px;
    }
}

@media only screen and (max-width: 500px) {
    .head-avatars-class {
        display: none;
    }

    .mobile-head-avatars-class {
        display: flex;
    }
}

@media only screen and (max-width: 360px) {
    .mobile-head-avatars-class {
        display: none;
    }
}



